FIELDSET.gallery DIV.image_wrapper {
	float: left;
	margin: 8px;
	min-height: 195px;
}

FIELDSET.gallery DIV.sorting-holder {
	float: left;
	margin: 8px;
	width: 152px;
	height: 152px;
	background-color: silver;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

FIELDSET.gallery DIV.image {
	padding: 10px;
	width: 130px;
	height: 130px;
	background-color: white;
	border: 1px solid silver;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow: 4px 4px 4px silver;
	-moz-box-shadow: 4px 4px 4px silver;
	-webkit-box-shadow: 4px 4px 4px silver;
	cursor: move;
}

FIELDSET.gallery DIV.ui-sortable-helper DIV.image {
	opacity: 0.8;
}

FIELDSET.gallery IMG.thumbnail {
	border: 1px inset silver;
}

FIELDSET.gallery DIV.toolbox {
	margin-top: 5px;
	text-align: center;
}

FIELDSET.gallery DIV.toolbox DIV.actions {
	text-align: right;
}

FIELDSET.gallery DIV.toolbox DIV.actions DIV.checker {
	float: left;
}

FIELDSET.gallery DIV.toolbox DIV.actions IMG {
	width: 16px;
	height: 16px;
	border: 0px;
}

DIV.widgets-prefix DIV.image {
	text-align: center;
}
