.file-view-symbol { display: block; overflow: visible !important; margin-top: 4px; height: 99%;}

.symbol-item
{
    display: inline-block;
    height: 100px;
    height: auto;
    margin-left: 5px;
    position: relative;
    vertical-align: top;
    width: 150px;
    margin-top: 6px;
    /*border  solid   */
    /*float  left*/
}

.symbol-item:hover
{
    -webkit-box-shadow: inset 0px 0px 5px 0px #898989;
    -moz-box-shadow: inset 0px 0px 5px 0px #898989;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px 0px #898989;
    color: red;
    cursor: pointer;
}

.file-view-symbol-icon
{
    margin-bottom: 0px;
    margin-top: -4px;
    margin-top: 0px;
    text-align: center;
    /*padding  0px*/
}

.file-view-symbol-name
{
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    display: inline-block;
    font-family: 'Trebuchet MS',Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    hyphens: auto;
    overflow: hidden;
    overflow: hidden;
    text-align: center;
    width: 150px;
    word-wrap: break-word;
    /*height  10px*/
}

.file-selection-p
{
    display: inline-block;
    height: 19px;
    left: 42px;
    margin: 4px 4px 4px 4px;
    position: absolute;
    top: -10px;
    vertical-align: middle;
    visibility: hidden;
    width: 19px;
}

.file-selection-box input { display: none; }

.file-selection-box span {
    background: url("white_plus.png");
    background-color: green;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    display: block;
    height: 16px;
    width: 16px;
}

.file-selection-box input:checked + span {
    background: url("white_minus.png");
    background-color: red;
    background-position: center;
    background-repeat: no-repeat;
}

.file-warning
{ background-color: red; text-align: center; }
