@import "../less/bootstrap3/variables.less";
@import "../less/bootstrap3/mixins.less";

.border-radius(@radius) {
   .border-top-radius(@radius);
   .border-bottom-radius(@radius);
}

.poll {
    margin: 10px 0 20px 0;
    background-color: lighten(@gray, 60%);
    padding: 15px;
    .border-radius(10px);
}