.sirep-list .module ul.reports {
    padding: 5px 0 0 8px;
    margin: 0;
}

.sirep-list ul.reports li {
  list-style: none;
  padding: 5px 0 5px 0;
}



/* Pagination of the reporting module */
ul.reporting-pagination {
    display: block;
    margin-top: 10px;
}

ul.reporting-pagination li {
    display: inline;
}

ul.reporting-pagination li.current span {
    font-weight: bold;
    font-size: 12pt;
}
form.report-form {
    display: block;
    width: 100%;
    clear: both;
    margin-bottom: 10px;
}
form.report-form input.short {
    width: 100px;
}
form.report-form div.fieldWrapper {
    display: inline;
}
form.report-form div.buttonWrapper {
    display: inline;
}

.report-loading {
    background-color:rgba(127,127,127,0.5);
    color: #000;
    display: none;
    width: 100%;
    height: 475px;
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
}

.report-loading div {
    background-color: #fff;
    width: 350px;
    height: auto;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 15px;
    line-height: 20pt;
}

.report-loading div h4 {
    font-size: 14pt;
}

.report-loading div p {
    font-size: 11pt;
}

form.report-form button,
button#apply-filtering-to-current-page,
a#generate-csv-report-current-page {
    background: -moz-linear-gradient(center top , #33A6CC, #309BBF) repeat scroll 0 0 #309BBF;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    outline: 0 none;
   -moz-box-sizing: border-box;
    cursor: pointer;
    height: 25px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 4px 5px 5px;
    width: auto;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    color: #fff;
}

form.report-form button:hover,
button#apply-filtering-to-current-page:hover,
a#generate-csv-report-current-page:hover {
    background: -moz-linear-gradient(center top , #555555, #444444) repeat scroll 0 0 #666666;
}