* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}
html {
	height: 100%;
}
body {
	text-align: center;
	background-color: #DBEBf4;
	height: 100%;
	font-family: Tahoma, sans-serif;
}
#header {
	width: 100%;
	overflow: auto;
	margin-bottom: 25px;
}
#header h1 {
	padding: 22px;
	padding-bottom: 0px;
	margin-bottom: -8px;
	color: #4b82a1;
	font-size: 45px;
}
#header h1 a {
	color: #4b82a1;
}
#subtitle {
	float: left;
	padding-left: 44px;
	padding-top: 0px;
	color: #9eb9c9;
	font-size: 16px;
}
#navigationMenu {
	float: right;
	padding-right: 10px;
	font-size: 16px;
}
#navigationMenu a {
	color: #9eb9c9;
	padding-left: 10px;
}
#navigationMenu a:hover {
	color: #b65c0b;
}
#pageContainer {
	margin: 0 auto;
	width: 950px;
	text-align: left;
	min-height: 100%;
	color: #323334;
	background-color: #FFF;
	padding-bottom: 20px;
}
#pageContainer .post {
	clear: both;
	margin: 35px;
	margin-top: 40px;
}
#pageContainer .post h1 a {
	/*display: block;*/
	background-color: #e6f1f7;
	padding: 10px;
	z-index: 10;
	color: #2b2c2c;
	margin-left: -15px;
	font-size: 20px;
}
#pageContainer .post h1 a:hover {
	font-style: italic;
}
#pageContainer .postContent {
	border: 1px dashed #DDD;
	background-color: #FBFBFB;
	padding: 10px;
}
#pageContainer .postContent p {
	margin-bottom: 20px;
	line-height: 22px;
	font-size: 16px;
	margin-left: 5px;
}
#pageContainer .postContent p a {
	color: #b65c0b;
}
#pageContainer .postContent p a:hover {
	color: #9eb9c9;
}
#pageContainer .postContent h1 {
	font-size: 22px;
	margin-bottom: 5px;
	margin-top: 15px;
}
#pageContainer .postContent h2 {
	font-size: 20px;
	margin-bottom: 5px;
	margin-top: 5px;
}
#pageContainer .postContent h3 {
	font-size: 18px;
	margin-bottom: 5px;
	margin-top: 5px;
}
#pageContainer .postInformation {
	text-align: right;
}
#pageContainer .postInformation h1 {
	float: right;
	background-color: #e6f1f7;
	font-size: 12px;
	padding: 3px;
	color: #596b75;
	margin-left: 10px;
	margin-top: -10px;

}
#paginatorNavigation {
	margin-top: 45px;
	text-align: center;
	clear: both;
	color: #bdbdbd;
}
#paginatorNavigation a {
	color: #9eb9c9;
}

#paginatorNavigation a:hover {
	color: #b65c0b;
}