/*
This empty stylesheet is just used for development to test the
different layout variants. It can safely be ignored.
*/


#visual-portal-wrapper {
/*
    border: 10px dotted green;
    padding: 20px;
    width: 900px;
    background-color: yellow;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-top: 100px;
*/
}