/*dl.portlet.portletVimeo .portletHeader {
    background: #006fa4;
    color: #FFF;
    padding: 10px 5px;
}*/
dl.portlet.portletVimeo .portletItem {
    margin: 0;
    border: 1px solid #ddd;
    border-top-width: 0;
    text-align: center;
}
dl.portlet.portletVimeo .portletItem .progress {
    margin: 0;
    margin-top: -5px;
    background-image: none;
    box-shadow: none;
    border-radius: 0;
    position: relative;
    cursor: pointer;
}
dl.portlet.portletVimeo .portletItem .progress-bar {
    background-image: none;
    box-shadow: none;
    position: absolute;
}
dl.portlet.portletVimeo .portletItem .progress-bar.load {
    background-color: #DDD;
}
dl.portlet.portletVimeo .portletItem .progress-bar.play {
    background-color: #006fa4;
}
dl.portlet.portletVimeo .portletItem .controls {
    padding: 5px;
}
dl.portlet.portletVimeo .portletItem .controls .control:hover {
    text-decoration: none;
}
dl.portlet.portletVimeo .portletItem .controls.paused .icon-pause {
    display: none;
}
dl.portlet.portletVimeo .portletItem .controls .icon-pause {
    display: block;
}
dl.portlet.portletVimeo .portletItem .controls.paused .icon-play {
    display: block;
}
dl.portlet.portletVimeo .portletItem .controls .icon-play {
    display: none;
    margin-left: 0.1em;
}
dl.portlet.portletVimeo .portletItem .controls .icon-forward {
    margin-left: 0.15em;
}