/*
* Feuilles de styles pour la Wikibar
* Créé par David THENON en Avril 2009
* Licence GPL
*
*/
.cale{
    visibility:hidden;
    width:0px;
    height:0.05px;
    font-size:0;
    clear:both;
}

a.fakelink{
    color:blue;
    cursor:pointer;
    text-decoration:underline;
}
div.wikitoolbar{
    padding:2px;
    clear:both;
}
div.wikitoolbar a{
    margin:2px;
    font-size:11px;
    float:left;
    display:block;
    width:22px;
    height:22px;
    background-position:top left;
    background-repeat:no-repeat;
    cursor: pointer;
}
#wikibarButton_help{
    margin-left:22px;
    width:auto;
    padding-top:4px;
    padding-right:22px;
    height:18px;
    background-image:url("./images/help.png");
    background-position:right center;
    background-repeat:no-repeat;
}

/* Boutons */
#wikibarButton_heading1{
    background-image:url("./images/text_h2.png");
}
#wikibarButton_heading2{
    background-image:url("./images/text_h3.png");
}
#wikibarButton_heading3{
    margin-right:22px;
    background-image:url("./images/text_h4.png");
}
#wikibarButton_strong{
    background-image:url("./images/text_bold.png");
}
#wikibarButton_em{
    background-image:url("./images/text_italic.png");
}
#wikibarButton_del{
    background-image:url("./images/text_strike.png");
}
#wikibarButton_add{
    margin-right:22px;
    background-image:url("./images/text_under.png");
}
#wikibarButton_wikiword{
    background-image:url("./images/text_wikiword.png");
}
#wikibarButton_link{
    background-image:url("./images/text_link.png");
}
#wikibarButton_code{
    background-image:url("./images/text_code.png");
}
#wikibarButton_teletype{
    background-image:url("./images/text_teletype.png");
}
#wikibarButton_checkit_task{
    background-image:url("./images/reminders.png");
}
#wikibarButton_flv{
    background-image:url("./images/video.png");
}
#wikibarButton_image{
    background-image:url("./images/image.png");
}
#wikibarButton_attachment{
    background-image:url("./images/attach.png");
}
/* Conteneur spécial pour les attachements de fichiers par liste de séléction */
.select_container select{
    width:170px;
    float:left;
    margin-left:22px;
    border:2px solid #f1c343;
    font-size:11px;
    padding:2px;
    background-color:#FDFDFE;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
