/* Default */
/*-----------------------------------------------------------------------------*/
html { 
	overflow-y:scroll; 
} 

h1,h2,h3{
	margin-top: 0 !important;
}

a{
	text-decoration: none !important;
}

table td{
	vertical-align: middle !important;
}

a,input,select,textarea,button{
	outline: none !important;
}

.c-default{
	color: #333 !important;
}	

.c-remove{
	color:#d2322d !important;
}

.c-ok{
	color: #47a447 !important;
}

.c-skip{
	color: #ed9c28 !important;
}

div.popover {
    max-width: 550px !important;
}

a#service-manage-status i{
	float: right;
	font-size: 35px; 
	margin-top: 5px;
}

.glyphicon-refresh {
	animation-name: rotateThis;
	animation-duration: .5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes rotateThis {
	from { transform: scale( 1 ) rotate( 0deg );   }
	to   { transform: scale( 1 ) rotate( 360deg ); }
}