div.content {
    /* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */
        display: none;
        width: 100%; 
}
div.content a, div.navigation a {
    text-decoration: none;
        color: #777;
}
div.content a:focus, div.content a:hover, div.content a:active {
    text-decoration: underline;
}
div.controls {
    margin-top: 5px;
        height: 23px;
}
div.controls a {
    padding: 5px;
}
div.ss-controls {
    /*float: left;*/
}
div.nav-control-next {
    float: right;
}
div.nav-control-prev{
 float:left;   
 }
div.slideshow-container {
    position: relative;
    clear: both;
    max-height: 435px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.loader {
    position: absolute;
    top: 0;
    left: 0;
        background-image: url('loader.gif');
        background-repeat: no-repeat;
        background-position: center;
        /*	width: 550px;*/
        /*	height: 502px; *//* This should be set to be at least the height of the largest image in the slideshow */
}
div.slideshow {
    
}
div.slideshow span.image-wrapper {
    width:400px;
    margin: 0 auto;
}
div.slideshow a.advance-link {
    display: block;
/*        width: 550px;*/
/*        height: 502px;*/ /* This should be set to be at least the height of the largest image in the slideshow */
    margin: 0 auto;
    line-height: 502px; /* This should be set to be at least the height of the largest image in the slideshow */
    text-align: center;
    position:relative;
    z-index:1;
}
div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
    text-decoration: none;
}
div.slideshow img {
    vertical-align: middle;
    margin: 0 auto;
    max-width: 98%;
/*    max-height:400px;*/
    height: auto;
    width: auto;
/*        border: 1px solid #ccc*/
}
div.download {
    float: right;
}
div.caption-container {
position: relative;
clear: left;
height: 75px;
}
span.image-caption {
    display: block;
position: absolute;
width: 550px;
top: 0;
left: 0;
}
div.caption {
    padding: 12px;
}
div.image-title {
    font-weight: bold;
        font-size: 1.4em;
}
div.image-desc {
    line-height: 1.3em;
        padding-top: 12px;
}
div.navigation {
    /* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */
    border-top: 1px solid #CCCCCC;
    width:100%;
    position:relative;
    z-index:10;
}
ul.thumbs {
    clear: both;
    margin: 0;
    padding: 0;
}
ul.thumbs li {
    float: left;
    padding: 0;
    margin: 5px 8px 5px 0;
    list-style: none;
}
a.thumb {
    padding: 2px;
    display: block;
    border: 1px solid #ccc;
}
ul.thumbs li.selected a.thumb {
    background: #CCCCCC;
}
a.thumb:focus {
    outline: none;
}
ul.thumbs img {
    border: none;
    display: block;
    /*height:90px;*/
    margin-bottom: 0 !important;
}
div.pagination {
    clear: both;
}
div.navigation div.top {
    margin-bottom: 12px;
    margin-top:6px;
    height: 11px;
}
div.navigation div.bottom {
    margin-top: 12px;
    width:100%;
}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
    display: block;
        float: left;
        margin-right: 2px;
        padding: 4px 7px 2px 7px;
        border: 1px solid #ccc;
}
div.pagination a:hover {
    background-color: #eee;
        text-decoration: none;
}
div.pagination span.current {
    font-weight: bold;
        background-color: #000;
        border-color: #000;
        color: #fff;
}
div.pagination span.ellipsis {
    border: none;
        padding: 5px 0 3px 2px;
}
/*________________*/
div.ss-controls {
    /*margin-left:186px;*/
    margin-top: 9px;
}
div.nav-controls{
/*left: 55px;*/
text-align:center;
position: relative;
top: 25px;
z-index:1;
margin-left: 23%;
}

div.nav-controls .prev{
background: url("step_backward.png") no-repeat scroll 0 0;
      color:transparent !important;
      margin-right: 10%;
      margin-left: -26%;
}
div.nav-controls .next{
background: url("step_forward.png") no-repeat scroll 0 0;
color:transparent !important;
margin-left:25%;

}
.ss-controls .pause{
background: url("pause.png") no-repeat scroll 0 0;
color:transparent !important;
position:relative;
/*left:-38px;*/
top:42px;
margin-left: 49%;
z-index:11;
}
.ss-controls .play{
background: url("play.png") no-repeat scroll 0 0;
color:transparent !important;
position:relative;
top:42px;
margin-left: 49%;
z-index:10;
}
div.slideshow a.advance-link {
/*line-height: 354px;*/
/*text-aligne:right;*/
}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis{
padding: 7px 3px 5px !important;
}
#controls{
    /* border: 1px solid #CCCCCC;*/
    margin-top:0px;
    padding-bottom:25px;
    margin-bottom:20px;
}
div.slideshow a.advance-link,
div.loader{
/*width:105% !important;*/
    }
div.controls {
width: 100%;
margin: 0 auto;
}
div.controls a {
    margin-right: 0px;
}
#galleriffic a img{
margin-left:0;
margin-right:0;
margin-bottom:45px;
}
#galleriffic a:hover {
    color: #000 !important;
}
#galleriffic .nav-controls a:hover,
#galleriffic .ss-controls a:hover {
   color: transparent !important;
}
#galleriffic a:link{
border-bottom: 0 solid #CCCCCC;
}
#galleriffic .nav-controls a:focus,
#galleriffic .ss-controls a:focus{
border: 1px dotted #CCCCCC;
}
#galleriffic ul.thumbs a:link,
#galleriffic div.pagination a:link {
border-bottom: 1px solid #CCCCCC;
}
#galleriffic ul.thumbs a:hover,
#galleriffic div.pagination a:hover,
#galleriffic ul.thumbs a:focus,
#galleriffic div.pagination a:focus{
border: 1px solid #000000;
}
@media (min-width: 1200px) { 
    ul.thumbs img {
        height:90px;
    }
    div.slideshow img {
        max-width:97%;
        max-height:400px;
    }
}
@media (min-width:980px) and (max-width:1199px){
    ul.thumbs img {
        height:90px;
    }
    div.slideshow img {
        max-width:97%;
        max-height:400px;
    }
}
@media(max-width: 1024px){

    ul.thumbs img {
        height:65px;
    }

    div.slideshow img {
       max-width:97%;
       max-height:400px;
    }
    div.slideshow a.advance-link {
       /* line-height: 502px;*/
    }
        
 }
@media(max-width: 767px){
    ul{}

    ul.thumbs img {
         height: 45px;
    }
    div.slideshow img {
        max-width: 97%;
        max-height:275px;
    }
    div.slideshow-container {
        max-height:285px; 
    }
    div.slideshow a.advance-link {
        line-height: 300px;
    }
    div.pagination a, div.pagination span.current, div.pagination span.ellipsis{
      padding: 5px 1px 3px !important;
     }

}
@media (max-width: 480px) {
    ul.thumbs img {
          height: 25px;
    }
    div.slideshow img {
        max-width: 97%;
        max-height:250px;
    }
    div.slideshow-container {
        max-height:255px;
    }
    div.slideshow a.advance-link {
       line-height: 210px;
    }
}
*/-----------*/
