/*
dark-blue:      #202336
light-blue:     #a7bdd5
red:            #730011
light-brown:    #cbc3b8
dark-brown:     #2f271c
*/

body
	{
	background-color: #2f271c;
	}   

#visual-portal-wrapper
	{       
	background-color: #dddddd;
	}

#portal-breadcrumbs
	{
	color: #ffffff;
	}

#portal-breadcrumbs a
	{
	color: #a7bdd5;
	}

#portal-breadcrumbs a:hover
	{
	color: #ffffff;
	background-color: transparent;
	}

#portal-siteactions li a
	{
	color: #a7bdd5; 
	background-color: transparent;
	border-width: 0em;
	}

#portal-siteactions li a:hover
	{
	color: #ffffff;
	background-color: transparent;
	border-width: 0em;	
	}

#livesearchLegend 
	{
	color: #2f271c;
	background-color: #cbc3b8;
	}
	
input.searchButton,
.portletSearch .searchButton
	{
	color: #202336;
	background-color: #a7bdd5;  
	background-image: none;
	font-weight: bold;
	border-width: 0em;
	}
	
.LSIEFix
	{
	background-color: #eeeeee;
	}
	
#portal-globalnav li a
	{
	color: #ffffff;
	background-color: #202336;	
	}

#portal-globalnav li a:hover
	{
	color: #202336;
	background-color: #a7bdd5;
	}

#portal-globalnav
	{
	width: 80em;
	background-color: #202336;
	}
	
#portal-globalnav li.selected a
	{
	color: #730011; 
	background-color: #ffffff; 	
	}
				
#portal-personaltools
	{
	background-color: transparent;
	}
	
#portal-personaltools li a
	{
	color: #a7bdd5; 
	}
	
#portal-logo
	{
	background-color: #ffffff;
	}
	
.contentViews li a
	{
	color: #ffffff;
	background-color: #202336;	
	border-color: #202336;
	}

.contentActions li a,
.contentActions,
.contentViews li.selected a,
.actionMenuSelected
	{
	color: #202336;
	background-color: #a7bdd5;	
	}

/* Match the border color with the actions color for a seamless mesh */
.contentViews li.selected a
	{
	border-bottom-color: #a7bdd5;
	}

.contentViews li a:hover,
.contentActions li a:hover,
.actionMenu .actionMenuContent li a:hover
	{
	color: #000000;
	background-color: #ffffff;
	}

h1
	{
	color: #730011; 
	background-color: #cbc3b8;	
	}
	
h2
	{     
	color: #2f271c; 
	}

h3
	{
	color: #cbc3b8;
	}
	
.documentByLine
	{
	color: #730011;
	background-color: #ede5da;
	}

.documentDescription
	{
	color: #2f271c;
	background-color: #fef6eb;
	}   
	
.formHelp,
.formHelp:hover
	{
	color: #202336;
	}

.discreet
	{
	color: #555555;
	}
	
th.nosort,
.listing th,
table.listing th,
.stx table th 
	{
	color: #2f271c;
	background-color: #cbc3b8;
	}

.listing td,
.stx table td
	{
	background-color: #ffffff;
	}

.fieldRequired
	{
	color: #730011;
	}

legend
	{
	color: #2f271c;
	background-color: #cbc3b8;
	font-weight: bold;
	}

fieldset
	{
	background-color: #eeeeee;
	}

ul.formTabs li.formTab a
	{		
	color: #ffffff;
	background-color: #202336;	
	font-weight: bold;
	}

ul.formTabs li.formTab a:hover 
	{
	color: #202336;
	background-color: #a7bdd5;
	}
	
ul.formTabs li.formTab a.selected
	{
	color: #000000; 
	background-color: #a7bdd5; 	
	}
	
.context, .documentEditable * .context,
.standalone, .documentEditable * .standalone 
	{
	color: #202336;
	background-color: #a7bdd5;  
	background-image: none;
	font-weight: bold;
	}

dl.portalMessage
	{
	background-color: #ffffff;
	border-color: #a7bdd5;
	}
	
.system-message,
dl.portalMessage dt
	{
	color: #202336;
	background-color: #a7bdd5;  
	}

dl.portalMessage dd
	{
	color: #730011;
	background-color: #eeeeee;
	}

.portlet .portletHeader,
div.portlet h5,
.ploneCalendar th
	{
	color: #ffffff;
	background-color: #202336;
	font-weight: bold;
	}

.portletHeader a,
.managedPortlet .portletHeader a,
.managedPortlet a
	{
	color: #a7bdd5;
	}

.managedPortletActions a.up,
.managedPortletActions a.down 
	{
	color: #ffffff !important;
	}
	
.portlet,
.ploneCalendar
	{
	background-color: #eeeeee;
	}
	
dd.portletFooter,
.ploneCalendar .weekdays th
	{
	color: #202336;
	background-color: #a7bdd5;	
	}
	
.ploneCalendar .event
	{
	background-color: transparent;
	}
	
.ploneCalendar .todaynoevent,
.ploneCalendar .todayevent
	{	
	border-color: #730011;
	font-weight: bold;
	}

.pullquote
	{   
	color: #730011;
	background-color: transparent;
	border-left-color: #cbc3b8;
	}

.even
	{
	background-color: transparent;
	}
	
.odd
	{
	background-color: #eeeeee;
	}   
	
#portal-footer
	{
	color: #ffffff;
	background-color: #730011;		
	}
	
.navTreeCurrentItem 
	{
	background-color: #ffffff;	
	}
	
.navTreeItem a:hover,
dd.portletItem .navTreeItem a:hover
	{
	background-color: #a7bdd5;
	}

input,
textarea,
#archetypes-fieldname-title input,
#archetypes-fieldname-description input,
#archetypes-fieldname-description textarea 
	{   
	background-image: none;
	font-weight: normal;
	}
	
.documentEditable .documentContent
	{
	border-color: #a7bdd5;
	}

/* Set link colors */
.documentContent a,
.documentContent p a,
.documentContent li a,
.documentContent dd a
	{
	color: blue;
	border-color: #a7bdd5;
	}

.documentContent a:hover,
.documentContent p a:hover,
.documentContent li a:hover,
.documentContent dd a:hover
	{
	color: red;
	border-color: red;
	}

.documentContent a:visited,
.documentContent p a:visited,
.documentContent li a:visited,
.documentContent dd a:visited
	{
	color: purple;
	border-color: purple;
	}

/* Color the footer's links differently for better contrast on red background */
#portal-footer a,
#portal-footer a:visited
	{
	color: #a7bdd5;
	}
