 
body
	{
	font-size: 0.75em;
	line-height: 1.5;
	}

/* Set h1 font size to 32px (32/12 = 2.6667) */
/* Adjust leading: 18/32 = 0.5625 */
h1
	{
	font-size: 2.6667em;
	line-height: 1.125;					/* doubled to correct line wrapping */	
	margin: 0em -0.40em 0em -0.40em;	/* negative left/right margin to produce overlap */
	padding-bottom:	0.0938em;			/* 3px */
	border-width: 0em;
	padding: 0.5625em;	
	}

/* Set h2 font size to 28px (28/12 = 2.3333) */
/* Adjust leading: 18/28 = 0.6429 */
h2
	{
	font-size: 2.3333em;
	line-height: 1.2858;				/* doubled to correct line wrapping */
	margin-top:	0.9643em;				/* 1.5 of line-height */
	margin-bottom: 0.3215em;			/* 0.5 of line-height */
	border-width: 0em;	
	padding: 0em;
	}

/* Set h3 font size to 24px (24/12 = 2.0) */
/* Adjust leading: 18/24 = 0.75 */
h3
	{
	font-size: 2.0em;
	line-height: 0.75;
	margin-top: 1.125em;
	margin-bottom: 0.375em;
	}

/* Set h4 font size to 22px (22/12 = 1.8333) */
/* Adjust leading: 18/22 = 0.8182 */
h4
	{
	font-size: 1.8333em;
	line-height: 0.8182;
	margin-top: 1.2273em;
	margin-bottom: 0.4091em;
	}

/* Set h5 font size to 20px (20/12 = 1.6667) */
/* Adjust leading: 18/20 = 0.9 */
h5
	{
	font-size: 1.6667em;
	line-height: 0.9;
	margin-top: 1.35em;
	margin-bottom: 0.45em;
	}

/* Set h6 font size to 18px (18/12 = 1.5) */
/* Adjust leading: 18/18 = 1.0 */
h6
	{
	font-size: 1.5em;
	line-height: 1.0;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	}

/* Set p font size to 14px (14/12 = 1.1667) */
/* Adjust leading: 18/14 = 1.2857 */
.documentDescription
	{
	font-size: 1.1667em;
	line-height: 1.2857;
	margin: 0em -0.9em 1.2857em -0.9em;
	padding: 0.6428em;
	}

p
	{
	margin-top: 1.2857em;
	margin-bottom: 1.2857em; 
	}
	
.documentByLine
	{
	font-size: 1em;
	line-height: 1.5;
	margin: 0em -1em 0em -1em;
	}

abbr,
acronym
	{
	letter-spacing: 0.1em;
	}

.LSRow
	{
	border-width: 0em;
	}

/* Remove space between each drop down menu option */
.actionMenu .actionMenuContent ul li a
	{
	margin: 0em;
	}
	
#portal-column-content,
#portal-column-one .visualPadding,
#portal-column-two .visualPadding
	{
	padding: 0em 0.5835em 0em 0.5835em;
	}
	
.navTreeItem a,
dd.portletItem .navTreeItem a,
.navTreeItem a:hover,
dd.portletItem .navTreeItem a:hover
	{
	border-width: 0em;
	}

.navTreeCurrentItem
	{
	border-width: 0em !important;
	}
	
#portal-logo img
	{	
	margin: 1.833em 0em 1.833em 0em;
	padding: 0em;
	}

#portal-siteactions
	{
	margin-top: 0em;
	padding: 0em;	
	}

form p
	{
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	}

input.searchPage,
.searchSection label
	{
	font-size: 1em;
	line-height: 1.5;	
	}
	
input.searchButton
	{
	font-size: 1em;
	border-width: 0.08333em;  
	}
	
#portal-personaltools
	{
	border-width: 0em;	
	font-size: 1.167em;
	line-height: 1.285;		
	margin: 1.5em 0em 0.6425em 0em;
	}

#portal-personaltools li a
	{
	font-size: 1em;
	}

#portal-breadcrumbs
	{
	padding: 0em;
	font-size: 1.167em;
	line-height: 1.285; 
	border-bottom-width: 0em; 
	}

.contentActions li a,
.contentActions,
.contentViews li.selected a,
.actionMenuSelected
	{
	border-width: 0.0833em;
	}

#portal-globalnav
	{
	margin-top: 0em;
	}
	
#portal-globalnav li a,
#portal-globalnav li.selected a
	{
	font-size: 1.8333em;
	border-width: 0em;
	}
	
.formHelp,
.formHelp:hover
	{	
	font-size: 1em;	
	line-height: 1.5;
	}

.discreet
	{
	font-size: 1em;
	padding: 0em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	}
	
th.nosort,
.listing th,
table.listing th,
.stx table th 
	{
	font-size: 1.5em;
	line-height: 1;
	border-width: 0.0556em;
	}

.listing td,
.stx table td
	{
	font-size: 1.167em;
	line-height: 1.285;
	}

legend
	{
	font-size: 1.167em;
	line-height: 1.285;
	margin: 0em;
	padding: 0.6425em;
	}

#login-form input
	{
	font-size: 1em;
	line-height: 1.5;
	}

input,
textarea,
#archetypes-fieldname-title input,
#archetypes-fieldname-description input,
#archetypes-fieldname-description textarea 
	{   
	font-size: 1.167em;
	line-height: 1.285;
	}

label
	{
	font-size: 1.5em;
	line-height: 1;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	}

.field
	{
	padding: 0.5em;
	}

ul.formTabs
	{
	margin-top: 0.9em;	
	margin-bottom: 0em;
	}

.context, .documentEditable * .context,
.standalone, .documentEditable * .standalone 
	{
	font-size: 1em;
	padding: 0.25em;
	border-width: 0.0833em; 
	margin-top: 0.9167em;
	margin-bottom: 0.9167em;
	}

#portlet-navigation-tree .portletHeader a,
.portletHeader a,
.portlet .portletHeader,
div.portlet h5
	{
	font-size: 1.167em;
	border-width: 0em;
	line-height: 1.285;	
	}

#portlet-navigation-tree .portletItem,
#portlet-prefs .portletItem,
.portletItem,
dd.portletFooter,
dl.portlet
	{   
	border-width: 0em;  
	}

.pullquote  
	{   
	font-size: 1.167em;
	margin-top: 1.285em;
	margin-bottom: 1.285em;
	padding-top: 0em;
	padding-bottom: 0em;
	line-height: 1.285; 
	}
	
/* 80 characters per line */
.documentContent
	{
	margin: 0em;
	width: 40em;	
	font-size: 1em;					/* override default CSS scaling of 110% */
	padding-top: 0em !important;
	}

.documentEditable .documentContent
	{
	width: auto;	
	}
	
.documentContent a,
.documentContent p a,
.documentContent li a,
.documentContent dd a,
#portal-footer a
	{
	border-width: 0.0833em;			/* 1px */
	}

.documentActions
	{
	font-size: 1.167em;
	line-height: 1.285;
	}
	
#portal-footer
	{
	padding: 0.4167em;
	font-size: 1.0em;
	line-height: 1.5;
	border-width: 0em;
	margin-top: 1.0833em;
	}

.managePortletsLink
	{
	font-size: 1.167em;
	line-height: 1.285;
	margin-top: 1.285em;
	margin-bottom: 1.285em;
	}

dl.portalMessage
	{
	font-size: 1em;
	line-height: 1.5;
	margin-top: 0.75em;
	margin-bottom: 2.25em;
	}
	
 

