[buildout]
develop = .
parts = test
extends = http://grok.zope.org/releaseinfo/1.5.5/versions.cfg
versions = versions
newest = false
allow-picked-versions = true
extensions = buildout.dumppickedversions

[versions]
z3c.batching = 2.0.0
z3c.table = 2.0.0a1

[test]
recipe = zc.recipe.testrunner
eggs = megrok.z3ctable [test]
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c']

