.portlet.portletTelechargement .portletItem a {
	border: 0;
	border-radius:0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
}
.portlet.portletTelechargement .portletItem a i {
	background-color: #3276B0;
	display: inline-block;
	width: 30px;
	height: 30px;
	padding-top: 5px; /* (30-20) / 2 */
	margin-right: 6px;
}
.portlet.portletTelechargement .portletItem a i:before {
	background-color: #428bca;
	line-height: 1.428571429;
	width: 20px;
	border-radius: 10px;
}