#portal-logo img {
    padding: 0pt 1em;
    margin: -1px 0em 0em -11px;
    vertical-align: middle;
}
#portal-siteactions {
    float: left;
    padding: 3px 0 3px 2em;
}
#portal-searchbox {
    margin-bottom: -5px;
    padding: 0 0 0 2em;
    float: left;
    clear: left;
}
/* end goofy horizontal scroll problem */

#portal-globalnav {
    height: 1.5em;
    margin-bottom: 1px;
}
/* #portal-globalnav li a {
    float: right;
    margin-left: 0.5em !important;
    margin-bottom: -3px;
} */
/* html #portal-globalnav {
    height: 0.1%;
} */

.visualClear{
    margin: -1px -1px 0em 0pt;
}

.actionMenu .actionMenuContent li {
    float:none;
}
.documentContent ul {
    padding: 0em 12pt 0pt 0pt;
}
#opentext #opentext-a {
    padding-left: 5px;
    padding-right: 0px;
}


#portal-personaltools-wrapper{
    /* settings from #portal-personaltools */
    background-color: transparent;
    border: none;
}
#portal-personaltools .portalUser {
    background: transparent url(&dtml-portal_url;/user.gif) 100% 50% no-repeat;
    margin: 0;
    padding-right: 18px; /* fix for overlapping icon - smoothify */
    padding-left: 1em; /* fix for overlapping icon - smoothify */
    display: table-cell;
}
#portal-personaltools li {
    background: transparent url(&dtml-portal_url;/rtl-linkOpaque.gif) 100% 50% no-repeat;
    margin: 0;
    padding-right: 10px; /* fix for overlapping icon - smoothify */
    padding-left: 1em; /* fix for overlapping icon - smoothify */
    display: table-cell;
}

.contentViews li a {
    padding-bottom: 0.3em;
}

dl.collapsedInlineCollapsible {
    float: right;
    margin: 0.5em 1em 0em 0em;

}

dl.collapsedInlineCollapsible dt.collapsibleHeader {
    background: transparent url(treeCollapsed.gif) scroll no-repeat 100% 50%;
    padding: 0 15px 0px 0;
    display: block;    
}

.contentActions {
    clear: both;
    text-align: left;
    padding: 0 1em 0 0;
}

.contentActions ul,
.contentActions li {
    text-align: right !important;
}


.contentActions li {
    float: left;
    border-left: none;
    border-right: &dtml-borderWidth; &dtml-borderStyle; &dtml-contentViewBorderColor;;
}

.contentActions .actionMenu {
    left: -1px;
} 
.documentActions {
    margin: 0.1em 0pt;
}
.documentActions a{
    text-decoration: none !important;
}
.documentActions ul {
    float: left;
    clear: left;
}
* html .actionMenu .actionMenuHeader a {
    float: left;
}
.actionMenu.activated .actionMenuHeader a,
.actionMenu.deactivated .actionMenuHeader a {
    padding: 0 0.5em;
    cursor: pointer;
}
.hiddenStructure {
    margin: -1px -1px 0 0;
}
#portal-column-one .visualPadding {
    padding: 2em 2em 1em 0em;
}
/* Fix to big header which causes a horizontal scrollbar to appear */
#portal-top {
    margin-right: 1px;
}
/* </dtml-with> */
