.media-listing-item {
background-color:white;
float: left;
margin-right: 20px;
min-height: 314px;
width: 200px;
}

#portal-column-content {
width: 100%;
}

.well.media-listing-item {
padding-bottom: 0px;
}

.mediasearch-portal-type {
margin-left: -4px;
margin-top: -4px;
position: absolute;
}

.btn-group ul {
list-style-type:none!important;
}

.breadcrumb .btn-info:hover {
color:white;
}

.breadcrumb h4 {
margin:0px;
padding:0px;
}

#search .field {
float: left;
margin-bottom: 0;
margin-right: 10px;
min-width: 260px;
padding-bottom: 0;
clear:none;
}

.media-listing-item h4 {
height: 40px!important;
overflow:hidden;
}