/*---[ validator helper ]----------------------------------------------------*/

input.validated {
    border: 3px solid green;
}
input.invalide {
    border: 3px solid red;
}

textarea.validated {
    border: 3px solid green;
}
textarea.invalide {
    border: 3px solid red;
}
