#gantt_table table{
  border-collapse: collapse;
  border: 1px solid black;
}

#gantt_table td {
  border-bottom: 1px solid black;
}

#gantt_table thead th {
  color: black;
  background: #dee7ec;
  font-style: bold;
  border: 1px solid black;
  white-space: nowrap;
  text-align: center;
}

#gantt_table th.gantt_action_name {
  padding-left: 4em;
  padding-right: 4em;
}

#gantt_table th.gantt_human_resources {
  padding-left: 1em;
  padding-right: 1em;
}

#gantt_table td.gantt_human_resources_cell {
  text-align: center;
}

#gantt_table img {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#gantt_table td.gantt_working_day {
  border-left: 1px dashed gray;
  border-right: 1px dashed gray;
}

#gantt_table td.gantt_working_day_running {
  background: #cde2a7; /* green */
}
a.state-running, a.state-started {
  color: green;
}

#gantt_table td.gantt_working_day_private {
  background: #d1d2d3; /* gray */
}

#gantt_table td.gantt_working_day_suspended {
  background: #ff8a00; /* orange */
}
a.state-suspended {
  color: #ff8a00;
}

#gantt_table td.gantt_working_day_cancelled {
  background: #ff0000; /* red */
}
a.state-cancelled {
  color: #ff0000;
}

#gantt_table td.gantt_working_day_finished {
  background: #0011f6; /* blue */
}
a.state-finished {
  color: #0011f6;
}

.overlay #pm-humanressources ul{
    padding-left: 20px;
}

#project-gantt span#states-legend-help{
}
#project-gantt #states-legend {
    text-align: right;
    margin: 12px 0px 6px 0px;
}

#project-gantt #states-legend a{
    margin-left: 6px;
}
#project-pert div.pert-action{
    margin: 30px 0 0 50px;
}
#project-pert div.pert-action a {
-moz-border-radius:5px 5px 5px 5px;
background:url(box-edit-link-bg.png) no-repeat scroll left center #4B4B4D;
border:medium none;
color:#FFFFFF;
cursor:pointer;
font-weight:bold;
height:28px;
padding:4px 7px 4px 27px;
text-decoration:none;
text-transform:none;
vertical-align:bottom;
}

#pert-legend {
    float: left;
}
.pert-action {
    float: left;
}

img#pert-image{
	padding: 20px;
    max-width: 800px;
}