.file-maindiv {
    background-color: #FFFFFF;
    display: block;
    height: 95%;
    margin: 5px;
    min-height: 95%;
    /*overflow: hidden !important;*/
    width: 99%;
}

.file-content
{
    background-color: #FFFFFF;
    display: block;
    height: auto !important;
    margin: 5px;
    min-height: 95%;
    /*overflow: hidden !important;*/
    padding-top: 4px;
    width: 99%;
    /*height   99%*/
}
