/* zrt-replace: "../j01DatePickerImages" tal"string:${context/++resource++j01DatePickerImages}" */

div.datepicker {
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 196px;
	height: 147px;
	position: absolute;
	cursor: default;
	top: 0;
	left: 0;
	display: none;
    z-index: 9999;
}
.datepickerContainer {
	background: WHITE;
	position: absolute;
	top: 10px;
	left: 10px;
}
.datepickerHidden {
	display: none;
}
div.datepicker table {
	border-collapse:collapse;
}
div.datepicker a {
	color: BLACK;
	text-decoration: none;
	cursor: default;
	outline: none;
}
div.datepicker table td {
	text-align: center;
	padding: 0;
	margin: 0;
}
div.datepicker th {
	text-align: center;
	color: #4c4d4f;
}
div.datepicker th.datepickerWeek {
	font-weight: normal;
}
div.datepicker th.datepickerWeek a {
    color: #dbdbdb;
}
div.datepicker tbody th {
	text-align: center;
}
div.datepicker tbody a {
	display: block;
}
.datepickerDays a {
	width: 30px;
	line-height: 25px;
	height: 25px;
}
.datepickerYears a,
.datepickerMonths a {
	width: 60px;
	line-height: 60px;
	height: 60px;
	text-align: center;
}
td.datepickerNotInMonth a {
	color: #dbdbdb;
}
tbody.datepickerDays td.datepickerSelected a{
	color: WHITE;
	background: #4c4d4f;
}
tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {
	background: #4c4d4f;
}
tbody.datepickerYears td.datepickerSelected a,
tbody.datepickerMonths td.datepickerSelected a {
	color: WHITE;
	background: #4c4d4f;
}
div.datepicker a:hover,
div.datepicker a:hover {
	color: WHITE;
	background: #4c4d4f;
}
div.datepicker td.datepickerNotInMonth a:hover {
	color: WHITE;
	background: #4c4d4f;
}
div.datepicker tbody th {
	text-align: center;
}
.datepickerSpace div {
	width: 20px;
}
.datepickerGoNext a,
.datepickerGoPrev a,
.datepickerMonth a {
	text-align: center;
	height: 25px;
	line-height: 25px;
}
.datepickerGoNext a,
.datepickerGoPrev a {
	float: right;
	width: 20px;
	font-size: 16px;
}
.datepickerGoNext span,
.datepickerGoPrev span {
    color: gray;
	height: 25px;
	font-size: 21px;
	display: block;
}
div.datepicker a:hover span,
div.datepicker a:hover span {
	color: WHITE;
}
table.datepickerViewMonths thead th,
table.datepickerViewDays thead th,
table.datepickerViewYears thead th {
	height: 25px;
}
table.datepickerViewDays tbody.datepickerMonths,
table.datepickerViewDays tbody.datepickerYears {
	display: none;
}
table.datepickerViewMonths tbody.datepickerDays,
table.datepickerViewMonths tbody.datepickerYears,
table.datepickerViewMonths tr.datepickerDoW {
	display: none;
}
table.datepickerViewYears tbody.datepickerDays,
table.datepickerViewYears tbody.datepickerMonths,
table.datepickerViewYears tr.datepickerDoW {
	display: none;
}
td.datepickerDisabled a,
td.datepickerDisabled.datepickerNotInMonth a{
	color: #a7a9ac;
}
td.datepickerDisabled a:hover {
	color: #a7a9ac;
}
td.datepickerCurrent a {
	color: BLACK;
	background: #f4f4f4;
}
td.datepickerCurrent.datepickerSelected a {
	color: WHITE;
	background: #4c4d4f;
}
.datepickerBorderT {
	position: absolute;
	left: 10px;
	top: 0;
	right: 10px;
	height: 10px;
	background: url(../j01DatePickerImages/datepicker_t.png);
}
.datepickerBorderB {
	position: absolute;
	left: 10px;
	bottom: 0;
	right: 10px;
	height: 10px;
	background: url(../j01DatePickerImages/datepicker_b.png);
}
.datepickerBorderL {
	position: absolute;
	left: 0;
	bottom: 10px;
	top: 10px;
	width: 10px;
	background: url(../j01DatePickerImages/datepicker_l.png);
}
.datepickerBorderR {
	position: absolute;
	right: 0;
	bottom: 10px;
	top: 10px;
	width: 10px;
	background: url(../j01DatePickerImages/datepicker_r.png);
}
.datepickerBorderTL {
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	background: url(../j01DatePickerImages/datepicker_tl.png);
}
.datepickerBorderTR {
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 10px;
	background: url(../j01DatePickerImages/datepicker_tr.png);
}
.datepickerBorderBL {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 10px;
	height: 10px;
	background: url(../j01DatePickerImages/datepicker_bl.png);
}
.datepickerBorderBR {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 10px;
	height: 10px;
	background: url(../j01DatePickerImages/datepicker_br.png);
}
