.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 0px solid #9D9D9D;
    font-weight: normal;
    color: #313131;
    box-shadow: inset 0px 0px 2px #202020;
    -moz-box-shadow: inset 0px 0px 2px #202020;
    -webkit-box-shadow: inset 0px 0px 2px #202020;
    -o-box-shadow: inset 0px 0px 2px #202020;
}

.ui-menu-icon {
    float: right;
    margin-top: 5px;
}

.ui-menu .ui-menu {
    margin-top: -3px;
    position: absolute;
}