.notifications-outer {
    position: fixed;
    bottom: 0px;
    /* left/right via js */
    z-index: 1002;
    overflow: visible;
    display: none;
}

.notifications-wrapper {
    border: 0px solid #909090;
    /* border width/radius via js */
    background-image: linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(213, 213, 213, 1) 100%);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(213, 213, 213, 1) 100%);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(213, 213, 213, 1) 100%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(213, 213, 213, 1) 100%);
}

.notifications {
    background: none;
    border: none;
    background-image: url(../../img/maingui/noise3.png);
    background-position: bottom;
}

.note {
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    color: #303030;
    text-shadow: 0px 1px 0px rgba(235, 235, 235, 1);
    padding: 0px 3px 0px 3px;
}
.note:first-child {
    padding-top: 2px;
}
.note:last-child {
    padding-bottom: 2px;
}

.note-icon {
    float: left;
    margin-right: 2px;
}