.startup-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-image: url(../../img/maingui/grey.png);
    background-position: bottom;
    display: table;
}

.startup-overlay-inner {
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
    color: #006cad;
    font-size: 24px;
    font-style: italic;
    display: table-cell;
    opacity: 0;
    /* transition effect */
    transition: opacity 50ms linear 1s;
    -webkit-transition: opacity 50ms linear 1s;
    -moz-transition: opacity 50ms linear 1s;
    -o-transition: opacity 50ms linear 1s;
}

.visible {
    opacity: 1;
}