body, div, span, ul, ol, li, h1, h2, h3, h4, h5, h6, a, form, input, textarea, p, th, td, table, option {
    margin: 0px;
    padding: 0px;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
}

img {
    border: 0px;
}

address, caption, cite, code, dfn, th, var {
    font-weight: normal;
    font-style: normal;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

ul, ol {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
    cursor: default;
}