/*
* Feuilles de styles pour le thème Kiwi
* Créé par David THENON en Avril 2009
* Licence GPL for the stylesheets
*
* Original logo is Publib Domain from OpenClipart : 
*    http://openclipart.org/media/files/AJ/9284
*
* Public Domain : http://creativecommons.org/licenses/publicdomain
*
* ____________________
*    Redéfinitions de balises et style pour tous
*/
html{
    background-color:#404040;
}
body{
    margin:0;
    padding:0;
    font-family:sans-serif;
    background-color:white;
}
a{
    color:#ae6f0c;
}
hr,
.cale{
    visibility:hidden;
    width:0px;
    height:0.05px;
    font-size:0;
    clear:both;
}

/*
____________________
    Conteneur global
*/
#root{
    margin:0;
    padding:0;
}

/*
____________________
    Bandeau d'entete
*/
h1{
    margin:0;
    padding:10px;
    color:#63a825;
    font-size:34px;
    border-bottom:5px solid #786B16;
    background-color:#FFFFFF;
}
h1 a{
    display:block;
    padding:10px 0 0 102px;
    height:60px;
    color:#68BC00;
    text-shadow:#88DC20 0 0 6px;
    background-image:url("../images/AJ_Kiwi_82x70.png");
    background-position:top left;
    background-repeat:no-repeat;
    text-decoration:none;
}

/*
____________________
    Conteneur principal pour les contenus et leurs contextes
*/
#body_content{
    margin:0;
    padding:10px 25px 0 25px;
    color:#40413b;
    font-size:13px;
}
#body_content h2{
    font-size:25px;
    color:#192a09;
    margin:0;
    padding:0;
    text-shadow:#99ba99 1px 1px 1px;
}
#body_content div.content_container{
    margin:0;
    padding:0 0 10px 0;
}
#body_content div.columned div.content_container{
    margin:0 250px 0 0;
    padding:0 0 10px 0;
}

/*
____________________
    Menu contextuelle d'une page
*/
#submenu{
    margin:-15px 0 0 0;
    padding:0;
    width:221px;
    position:absolute;
    right:0;
    display:none;
    background-color:#63a825;
    border-left:5px solid #786B16;
}
div.columned #submenu{
    display:block;
}
#submenu div.container{
    margin:2px 0 0 0;
    padding:10px 5px 0 10px;
    background-color:#C4F768;
    border-left:1px dashed #63a825;
    border-top:3px dashed #63a825;
}
#submenu ul{
    margin:0;
    padding:6px 13px 6px 0;
    font-size:14px;
    line-height:18px;
    color:#786B16;
}
#submenu ul ul{
    margin:0;
    padding:6px 8px 0 0;
}
#submenu ul ul ul{
    font-size:13px;
    line-height:16px;
}
#submenu li{
    margin-left:15px;
    margin-bottom:8px;
}
#submenu li li{
    margin-left:10px;
    margin-bottom:4px;
}
#submenu li a{
    color:#786B16;
    text-decoration:none;
}
#submenu li a:hover{
    text-decoration:underline;
}
#submenu h2{
    font-size:23px;
    color:#685B06;
    margin:0;
    padding:0;
    text-shadow:none;
}
#submenu div.summary,
#submenu p.revision_date{
    border-bottom:1px solid #786B16;
}
#submenu p.revision_date{
    margin:0;
    padding:10px;
    color:#438805;
}

/*
____________________
    Chemin d'accès d'une page
*/
#pathline{
    margin:0;
    padding:0;
    color:#C4F768;
    border-bottom:5px solid #786B16;
    background-color:#63a825;
    font-size:12px;
}
#pathline p{
    margin:0;
    padding:10px 25px 10px 25px;
}
#pathline a{
    color:#C4F768;
}

/*
____________________
    Lien d'admin
*/
#admin_menu{
    margin:0;
    padding:10px;
    position:absolute;
    top:0;
    right:0;
    font-size:12px;
}

/*
____________________
    Menu de recherche
*/
#search_form{
    margin:0;
    padding:0 10px 10px 10px;
/*     width:201px; */
    position:absolute;
    top:30px;
    right:0;
}
#search_form label{
    color:#786B16;
    font-size:12px;
    font-weight:bold;
}
#search_form input.vTextField{
    border:1px solid #786B16;
}
#search_form input.submit_ok_button{
    color:#786b16;
    border:1px solid #786b16;
}

/*
____________________
    Introduction au contenu
*/
#body_intro{
    margin:0;
    padding:0 140px 0 25px;
    color:#c4f768;
    border-bottom:5px solid #786b16;
    background-color:#63a825;
}
#body_intro a{
    color:#c4f768;
}
#body_intro h2{
    padding:10px 0 0 0;
}
#body_intro h2,
#body_intro h2 a,
#body_intro h3{
    color:#c4f768;
    text-shadow:#a1d445 1px 1px 1px;
}
#body_intro h5,
#body_intro p{
    font-size:15px;
}

/*
____________________
    Historique des versions
*/
div.vertical_block_list ul.item_list{
    list-style-type:none;
    padding:0 10px 0 10px;
}
div.vertical_block_list ul.item_list li.block{
    margin-top:0;
    margin-bottom:0;
    padding:10px;
    list-style-type:none;
    border-bottom:2px solid #e5e7db;
}
div.vertical_block_list ul.item_list li.row2{
    background-color:#fafcf4;
}
div.vertical_block_list ul.item_list li.last{
    border:0;
}
div.vertical_block_list h3{
    margin-top:0;
    border:0;
    font-size:18px;
}
/* Ajout pour les listes attachés */
#body_content div.attached_list div.vertical_block_list ul.item_list{
    padding:0;
}
#body_content div.attached_list div.vertical_block_list ul.item_list li.block{
    margin-left:0;
}
#body_content div.vertical_block_list h4{
    margin-top:0;
    border:0;
    font-size:14px;
}

/*
____________________
    Conteneur du pied de page
*/
#body_footer{
    margin:0 0 20px 0;
    padding:20px 0 0 0;
    color:#C4F768;
    font-size:13px;
    background-color:#404040;
    border-top:5px solid #786B16;
}
#body_footer p{
    margin:0 auto 0 auto;
    padding:0;
    list-style-type:none;
    text-align:center;
}
#body_footer a{
    color:#C4F768;
}
