.extension-badges {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.extension-badge {
    position: relative;
    display: inline-block;
    margin: 6px 3px 1px 3px;
    /* height|width via js*/
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.extension-badge-top {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 24px;
    left: 0px;
    cursor: move;
}

.extension-badge-top-wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 2px;
    box-shadow: 0px 0px 2px #505050;
    background-color: white;
}

.extension-badge-top-wrapper-selected {
    box-shadow: 0px 0px 4px #505050,
                inset 1px 0px 2px #3383bb,
                inset -1px 0px 2px #3383bb,
                inset 0px 1px 2px #3383bb,
                inset 0px -1px 2px #3383bb;
}

.extension-badge-bottom {
    position: absolute;
    height: 24px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.extension-badge-bottom-wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
}

.extension-badge-label-outer {
    display: table;
    height: 100%;
    width: 100%;
    max-width: 100%;
    word-wrap: break-word;
    white-space: normal;
}

.extension-badge-label {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 11px;
    color: black;
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    line-height: 0.9;
}

.extension-badge-label-selected {
    color: #13639b;
}

.extension-badge:first-child {
    margin-left: 4px;
}

.extension-badge:last-child {
    margin-right: 4px;
}

.extension-badge-collapsed {
    position: relative;
    display: inline-block;
    margin: 0px 0px 0px 0px;
    /* height|width via js*/
    background-color: orange;
}

.extension-badge-handle {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 15px;
    left: 5px;
    background-color: red;
}

.extension-content {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.extension-menu-container {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow-x: hidden;
}

.extension-menu-box {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: hidden;
}

.extension-menu-box-active {
    border-radius: 4px;
    opacity: 0.4;
    background-color: #3383bb;
}

.extension-menu-box-hover {
    background-color: green;
}

.extension-menu-button {
    position: absolute;
    top: 2px;
    right: 4px;
    height: 20px;
    width: 62px;
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;
    display: table;
}

.extension-menu-button-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.extension-menu-dropzone {
    position: absolute;
    top: 0px;
    right: 74px;
    bottom: 0px;
    left: 0px;
    padding-right: 8px;
    overflow: hidden;
    transition: box-shadow 500ms linear;
    -webkit-transition: box-shadow 500ms linear;
    -moz-transition: box-shadow 500ms linear;
    -o-transition: box-shadow 500ms linear;
}

.extension-menu-dropzone-used {
    box-shadow: inset -1px 0px 0px rgba(30, 30, 30, 0.3);
}

.extension-menu-shorthand-button {
    position: relative;
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;
    display: inline-block;
    float: right;
    margin: 2px 0px 0px 5px;
    padding: 2px 8px 2px 2px;
}

.extension-menu-shorthand-button-keepable {
    box-shadow: inset 0px 0px 10px green;
}

.extension-menu-shorthand-button-deletable {
    box-shadow: inset 0px 0px 10px red;
}

.extension-menu-shorthand-button-inner {
    text-align: center;
}
