.preference-outer {
    position: absolute;
    top: 5px;
    left: 0px;
    height: 360px;
    width: 650px;
    border-radius: 4px;
    background-color: #e0e0e0;
}

.preference-loader {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: none;
    text-align: center;
}

.preference-loader-inner {
    margin-top: 190px;
}

.preference-inner {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
}

.preference-left {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 199px;
    border: 0px solid #e8e8e8;
    border-width: 0px 1px 0px 0px;
    overflow-x: hidden;
    overflow-y: auto;
}

.preference-right {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 429px;
    border: 0px solid #909090;
    border-width: 0px 0px 0px 1px;
}

.preference-section-box {
    margin-bottom: 10px;
}

.preference-section-box:last-child {
    margin-bottom: 0px;
}

.preference-entries-box {
    display: none;
}

.preference-header {
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
    color: #3383bb;
    text-shadow: 0px 1px 1px white;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 2px;
    cursor: pointer;
}

.preference-element {
    max-width: 88%;
    padding: 5px 0px 5px 6px;
    margin-left: 5px;
}
.preference-element-selected {
    text-decoration: underline;
}

.preference-element-title {
    max-width: 90%;
    font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #606060;
    text-shadow: 0px 1px 0px #f0f0f0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
    cursor: pointer;
}
.preference-element-title:hover {
    color: #303030;
}

.preference-element-actions {
    float: right;
}

.preference-separator {
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-color: #a0a0a0 transparent #e8e8e8 transparent;
    height: 0px;
    width: 90%;
    margin-left: 5px;
}

.preference-content {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    padding: 4px 10px;
    display: none;
}

.preference-content-header {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 5px;
    height: 30px;
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
    color: #505050;
    text-shadow: 0px 1px 1px white;
    font-size: 16px;
    font-style: italic;
}

.preference-content-inner {
    position: absolute;
    top: 30px;
    right: 0px;
    bottom: 30px;
    left: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

.preference-content-footer {
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 30px;
    overflow-y: visible;
}

.preference-content-description {
    margin: 1px 0px 10px 7px;
    padding: 5px;
}

.preference-content-description-text {
    width: 90%;
    margin-left: 5px;
    float: left;
}

.preferece-content-data {
    margin-left: 10px;
}

.preference-content-data-entry {
    text-shadow: 0px 1px 0px #f0f0f0;
    margin-bottom: 12px;
}
.preference-content-data-entry:last-child {
    margin-bottom: 0px;
}

.preference-content-data-title {
    color: #505050;
    font-size: 14px;
}

.preference-content-data-key {
    text-decoration: underline;
    margin-left: 4px;
}

.preference-content-data-default {
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
    color: #3383bb;
    text-shadow: 0px 1px 1px white;
    font-size: 13px;
    font-weight: normal;
    margin-left: 10px;
    cursor: pointer;
    font-style: italic;
}
.preference-content-data-default:hover, .preference-content-data-default:active {
    text-decoration: underline;
}

.preference-content-data-manipulator {
    margin: 7px 0px 0px 15px;
    text-shadow: none;
}

.preference-content-data-type {
    color: #808080;
    font-size: 12px;
    font-style: italic;
}

.preference-content-data-description {
    margin: 3px 0px 0px 8px;
}

.preference-content-data-description-text {
    width: 88%;
    margin: 1px 0px 0px 3px;
    color: #505050;
    font-size: 14px;
    font-style: italic;
    float: left;
}

.preference-content-data-text {
    height: 18px;
    width: 75%;
    font-size: 18px;
    padding: 1px 3px;
    color: #3383bb;
}

.preference-content-data-select {
    width: 75%;
}

.preference-content-footer-button-right {
    float: right;
    margin: 4px 0px 0px 5px;
}

.preference-content-footer-button-left {
    float: left;
    margin: 4px 0px 0px 5px;
}

.preference-content-data-feedback {
    margin: 2px 0px 0px 10px;
    float: left;
    color: #3383bb;
    display: none;
}