body {
    background-image: url(../../../img/maingui/grey.png);
}

.startup-overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 10;
    background-color: #303030;
}

.content-outer {
    margin: 20px auto;
    width: 640px;
    min-width: 640px;
}

.content-logo {
    text-align: center;
    margin-bottom: 20px;
}

.content-top {
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    color: #505050;
    margin-bottom: 20px;
}

#accordion > div {
    overflow: hidden;
}

.accordion-outer {
    clear: both;
}

.input {
    height: 20px;
    width: 220px;
    padding: 1px 2px 0px 2px;
    color: #3383bb;
}

.table {
    margin-bottom: 10px;
}

.table td {
    padding: 5px 5px;
}

.table button {
    float: right;
}

.content-outer > button {
    float: right;
}