/*
* Feuilles de styles pour le wiki de Kiwi
* Créé par David THENON en Avril 2009
* Licence GPL
*/
/* ________________________________________
   Pagination
*/
div.pagination{
    margin:10px 0 10px 0;
    padding:10px;
    border:1px solid #C7CBCD;
    background-color:#ffffff;
    float:right;
}
div.pagination p{
    margin:0;
    padding:0;
    float:left;
    text-transform:capitalize;
}
div.pagination p.previous{
    margin-right:20px;
}
div.pagination p.next{
    margin-left:20px;
}
div.pagination p.disabled{
    color:#939794;
    background-image:none;
}
div.pagination p.index{
}
div.pagination span.current{
    font-weight:bold;
}

/* 
* Mise en forme des textes wiki
*/
body div.wiki2xhtml{
    font-family:sans-serif;
}
body div.wiki2xhtml h2{
    font-size:25px;
    color:#192a09;
    margin:0;
    padding:20px 0 0 0;
}
body div.wiki2xhtml h2 a{
    color:#192a09;
    text-decoration:none;
}
body div.wiki2xhtml h3{
    font-size:20px;
    font-weight:normal;
    padding:5px 5px 5px 8px;
    color:#2e411b;
    background-color:#e0efc6;
    text-shadow:white 2px 2px 2px;
}
body div.wiki2xhtml h4{
    padding:5px 5px 8px 5px;
    font-size:16px;
    border-bottom:1px solid #e5e7db;
    text-shadow:#f5f7eb 1px 1px 2px;
}
body div.wiki2xhtml h5{
    font-size:14px;
}
body div.wiki2xhtml p{
    font-size:14px;
    line-height:18px;
}
body div.wiki2xhtml blockquote{
    margin:0;
    padding:0;
}

/* Divers mises en formes */
body div.wiki2xhtml pre{
    width:100%;
    color:#484941;
    background-color:#f9fbf3;
    border:1px dashed #e9eecf;
    border-width:1px 0;
    margin:6px 0 6px 0;
    padding:4px;
    overflow:auto;
}
body div.wiki2xhtml code{
    width:100%;
    font-size:12px;
    color:#282921;
    background-color:#f0f3f7;
    border:1px dotted #dfe5ee;
    border-width:0 0 1px 0;
    padding:2px;
    overflow:auto;
}
html>body div.wiki2xhtml pre,
html>body div.wiki2xhtml code{
    width:auto;
}

/* Liste à puces lambda */
body div.wiki2xhtml ul{
    margin:0;
    padding:6px 13px 6px 0;
    font-size:14px;
    line-height:18px;
}
body div.wiki2xhtml ul li{
    margin-left:20px;
    margin-bottom:4px;
    font-size:14px;
    line-height:18px;
}
body div.wiki2xhtml ol{
    margin:0;
    padding:6px 13px 6px 0;
    font-size:14px;
    line-height:18px;
    list-style-type:upper-latin;
}
body div.wiki2xhtml ol li{
    margin-left:26px;
    margin-bottom:4px;
    font-size:14px;
    line-height:18px;
}

/* Sommaire des titres */
div.summary ul{
    margin:0;
    padding:0 0 0 21px;
}
div.summary ul ul{
    padding:0 0 0 13px;
}
div.summary li{
    font-weight:bold;
    list-style-type:square;
}
div.summary li li{
    font-weight:normal;
    list-style-type:disc;
}

/* Pour la macro googlemap */
div.macro_map_container{
    margin:20px auto;
    border: 1px dashed #C0C0C0;
    width:800px;
    height:500px;
}
div.map_infowindow_container{
    font-size:12px;
}
body div.map_infowindow_container p{
    margin-top:2px;
    margin-bottom:2px;
    padding-top:2px;
    padding-bottom:2px;
    font-size:12px;
    line-height:12px;
}


/* Sitemap */
div.sitemap{
    margin:0;
    padding:5px 2px 20px 10px;
}
div.sitemap ul{
    margin:0;
    padding:0;
}
div.sitemap li{
    padding:6px 4px 10px 4px;
    margin-left:0;
    margin-right:40px;
    font-size:16px;
}
div.sitemap li.row_archived_wikipage,
div.sitemap li.row_archived_wikipage a{
    color:#808080;
}
html>body div.sitemap li{
    padding:8px 0 8px 0;
    list-style-position:inside;
}
div.sitemap ul ul{
    margin-top:5px;
    margin-left:5px;
    padding-left:10px;
}
div.sitemap li li{
    border-bottom:0;
    padding-top:5px;
    padding-bottom:5px;
    margin-left:20px;
    margin-right:15px;
    font-size:14px;
}
div.sitemap ul ul ul{
    margin-top:5px;
    margin-left:0;
    padding-left:5px;
}
div.sitemap li li li{
    margin-right:7px;
}

/* 
* Modifs pour la page d'aide de la syntaxe
*/
body div.help_syntax div.wiki2xhtml{
    margin-left:0px;
}
body div.help_syntax div.demo_section{
    margin-left:20px;
}
body div.help_syntax div.demo_content{
    margin-left:10px;
}
body div.help_syntax div.demo_content h2{
    font-size:19px;
    color:#192a09;
    margin:0;
    padding:20px 0 0 0;
}
body div.help_syntax div.demo_content h2 a{
    color:#192a09;
    text-decoration:none;
}
body div.help_syntax div.demo_content h3{
    font-size:18px;
    padding-bottom:2px;
    color:#192a09;
    border-bottom:1px solid #e5e7db;
}
body div.help_syntax div.demo_content h4{
    font-size:14px;
}
body div.help_syntax div.demo_content h5{
    font-size:12px;
}

body div.help_syntax div.demo_content ul,
body div.help_syntax div.demo_content ul li,
body div.help_syntax div.demo_content ol,
body div.help_syntax div.demo_content ol li{
    font-size:12px;
    line-height:14px;
}
