.portletProfil {
    border: 1px solid #ddd;
}

.portletProfil .portletItem {
    padding: 10px !important;
}
.portletProfil.resume .portletItem {
    text-align: center;
    padding: 10px;
}

.portletProfil .portletItem .headshot {
    padding: 0;
}
.portletProfil.complet .portletItem .headshot {
    float: left;
    margin-right: 10px;
}
.portletProfil.resume .portletItem .headshot img {
    width: 100%;
    height: auto;
    border: 1px solid #03b6de;
    padding: 1px;
}

.portletProfil .portletItem .fn {
    font-family: "Roboto";
    font-weight: 300;
    color: #006fa4;
    font-size: 18px;
}
.portletProfil.resume .portletItem .fn {
    margin-top: 10px;
}
.portletProfil .portletItem .fn,
.portletProfil .portletItem .title {
    margin-bottom: 0;
}
.portletProfil.complet .portletItem .fn,
.portletProfil.complet .portletItem .title {
    text-align: center;
    margin-left: 90px; /* 80+10 */
}

.portletProfil .portletItem .biography {
    margin-top: 20px;
}

.portletProfil .portletItem .vcard {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    padding: 5px;
    border-left: 5px solid #03b6de;
}
.portletProfil .portletItem .vcard a {
    display: block;
    border: 0 !important;
    text-decoration: none !important;
    color: #03b6de !important;
}

.portletProfil .portletItem hr {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.portletProfil.complet .portletItem hr {
    margin-top: 5px;
    margin-bottom: 5px;
}
