/* bitbucket.org #readme style */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, big, code,
del, dfn, font, img, ins, q, s, samp,
small, strike, strong, tt,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body{
  line-height: 1;
}

.xx ol, .xx ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption ,th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before,blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

body{font:13px/1.231 sans-serif;*font-size:small;*font:x-small;}
select,input,button,textarea,button{font:99% sans-serif;}table{font-size:inherit;font:100%;}pre,code,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

div {
  position: relative;
}

section {
  position: relative;
  display: block;
}

h1 {
  margin: 0 0 15px;
  padding: 1em 0 0;
  font-size: 21px;
  line-height: 24px;
  color: #666;
}

h2 {
  margin: 6px 0;
  padding: 10px 0 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #666;
}

code {
  border: 1px solid #ddd;
  background: #f7f7f7;
  padding: 0 2px;
  font-size: 0.923em; /* 12/13 */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

pre code {
  border: none;
  background: none;
  padding: 0;
  font-size: inherit;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  border: none;
  background: none;
}

h3 {
  margin: 6px 0;
  padding: 10px 0 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #666;
}

h4 {
  font-weight: normal;
  color: #666;
}

ol {
  list-style: decimal inside;
}

p {
  margin: 0 0 9px;
}

pre {
  margin: 0 0 1em;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ddd;
  background: #f7f7f7;
  padding: 3px 6px;
  font-size: 12px;
  line-height: 16px;
  white-space: pre-wrap;
}

ul {
    display: block;
    list-style-type: disc;
/*    margin: 1em 0; */
    padding: 0 1em;
}

@charset "UTF-8";

@media print {
  * {
    color: #000 !important;
  }

  body {
    background: #fff !important;
  }
}

body {
  margin: 0;
  background: #fff;
  padding: 0;
  line-height: 16px;
  font-family: Helvetica, Arial, sans-serif;
  color: #393939;
}

p {
  line-height: 18px;
}

a {
  text-decoration: none;
  color: #2b547d;
}

a:focus {
  color: #69f;
  outline: none;
}

a:hover {
  text-decoration: underline;
}

table {
  border-spacing: 3px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

table input, select {
  margin-bottom: 1em;
}

table th {
  vertical-align: top;
}

html, body {
  height: 100%;
}

form {
  margin-bottom: 0;
}

input {
  line-height: 16px;
}

input[type="url"], input[type="email"], input[type="password"], input[type="search"], input[type="text"], textarea {
  background: #fff;
  color: #525252;
  padding: 4px;
  font-size: 14px;
  line-height: 18px;
  height: 18px;
  border: 1px solid #ccc;
  -moz-box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.03);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

input[type="search"] {
  -webkit-appearance: searchfield;
  border: none;
}

input[type="radio"], input[type="checkbox"], input[type="submit"], input[type="reset"], input[type="button"], input[type="file"], select {
  font-size: 1em;
}

select {
  line-height: 16px;
}

h3, h4, h5, h6 {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 3px;
}

hr {
  padding: 0;
  margin: 5px 0;
  height: 1px;
  border: none;
  border-bottom: 1px solid #ddd;
}

code, pre, textarea {
  font-family: Monaco, "Courier New", monospace;
}

pre, textarea {
  font-size: 11px;
}

a img {
  border: none;
}

fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

table {
  padding: 0;
  margin: 0;
}

th {
  vertical-align: top;
  text-align: left;
}

table {
  margin: 9px 0;
  border-collapse: collapse;
}
table th,
table td {
  border: 1px solid #ddd;
  padding: 3px 6px;
}
table th {
  background: #f7f7f7;
  font-weight: bold;
}
blockquote, .xx ol, .xx ul {
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0 36px;
}
p {
    margin: 9px 0;
    line-height: 18px;
}
body { 
    margin: auto;
    width: 70%;
}

.admonition-title { 
    font-weight: bold;
}
