[buildout]
develop = .
extends = 
    http://raw.github.com/plock/pins/master/plone-4.3
    http://raw.github.com/plock/pins/master/zeo
    http://raw.github.com/plock/pins/master/dev
parts +=
#    get-blobs
#    get-data-fs

[plone]
eggs += 
    collective.pece
#    plonetheme.diazo_sunburst
#    Products.Carousel
#    collective.plonetruegallery
#    quintagroup.dropdownmenu
#    collective.js.jqueryui
#    collective.documentviewer
#    collective.flowplayer
#    Products.FacultyStaffDirectory
#    Products.PloneFormGen
#    Products.Ploneboard

[get-data-fs]
recipe = collective.recipe.rsync
source = root@50.56.232.128:/srv/rpi.asthma_files_site/var/filestorage/Data.fs
target = var/filestorage/Data.fs

[get-blobs]
recipe = collective.recipe.rsync
source = root@50.56.232.128:/srv/rpi.asthma_files_site/var/blobstorage/
target = var/blobstorage/

[versions]
zc.buildout = 1.7.1
feedparser = 5.1.3
