/*
* Feuilles de styles pour le "BOF Editor"
* Créé par David THENON en Avril 2009
* Licence GPL
*
*/
.cale{
    visibility:hidden;
    width:0px;
    height:0.05px;
    font-size:0;
    clear:both;
}

.ui_EEditor_alert{
    color:#FF0000;
    text-decoration:underline;
}

/* Scène de l'éditeur et ses outils */
#ui_EEditor_scene{}

/* Conteneur principale dans la scène */
#ui_EEditor_root_container{}

/* Bouton pour fermer l'éditeur */
#ui_EEditor_closebutton_layer{
    padding:3px;
    margin:5px 0 0 0;
    background-color:#F8F8F8;
    border:1px solid #CCCCCC;
    -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;
}
#ui_EEditor_closebutton_link{
    display:block;
    width:16px;
    height:16px;
    background-image:url("./images/remove.png");
    background-position:top left;
    background-repeat:no-repeat;
}
#ui_EEditor_closebutton_link:hover{
    background-image:url("./images/remove_on.png");
}
#ui_EEditor_closebutton_link span{
    display:none;
}

/* Onglets */
#ui_EEditor_tabs{}
#ui_EEditor_tabs ul{
    margin:0 0 0 10px;
    padding:0;
    list-style-type:none; 
}
#ui_EEditor_tabs li{
    margin:0 10px -1px 0;
    position:relative;
    padding:0;
    display:block;
    float:left;
    list-style-type:none;
    font-size:14px;
    font-weight:bold;
    text-align:center;
    background-color:#F2F2F4;
    border-top:1px solid #E4E4E4;
    border-right:1px solid #E4E4E4;
    border-left:1px solid #E4E4E4;
    border-bottom:1px solid #CCCCCC;
    -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px;
}
#ui_EEditor_tabs li span{
    display:block;
    padding:12px 10px 8px 10px;
    color:#7D7D7D;
    text-decoration:none;
    cursor:pointer;
}
#ui_EEditor_tabs li span:hover{
    text-decoration:underline;
}
#ui_EEditor_tabs li.active{
    color:#000000;
    background-color:#F8F8F8;
    border-top:1px solid #CCCCCC;
    border-right:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
    border-bottom:1px dashed #CCCCCC;
}
#ui_EEditor_tabs li.active span{
    color:#333333;
}

/* Conteneur d'une preview */
#ui_EEditor_preview{
    border:1px solid #CCCCCC;
    background-color:#F8F8F8;
    -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;
}

/* Conteneur du formulaire, outils et boutons */
#ui_EEditor_form{
    padding:5px;
    border:1px solid #CCCCCC;
    background-color:#F8F8F8;
    -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;
}
#ui_EEditor_form textarea{
    font-size:14px;
    border:1px solid #FFFFFF;
}

#ui_EEditor_form div.wikitoolbar{
    padding-bottom:4px;
    border-bottom:1px dashed #CCCCCC;
}

#ui_EEditor_form div.buttons input.button_save{
    font-size:14px;
    font-weight:bold;
    color:#6A9D6B;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
    border:1px solid #CCCCCC;
}

#ui_EEditor_form div.buttons input.button_cancel{
    font-size:14px;
    font-weight:bold;
    color:#FE5900;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
    border:1px solid #CCCCCC;
}

/* ________________________________________
   Stealed from JqueryUI
*/
/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; }
.ui-corner-tr { -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
.ui-corner-br { -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
.ui-corner-top { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
.ui-corner-right {  -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
.ui-corner-left { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
.ui-corner-all { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
