HTML {
	background-color: #6a5c4e;
}

BODY {
	width: 990px;
	margin: auto;
	font-size: 0.9em;
	line-height: 1.3em;
	background-color: white;
}

BODY.mceContentBody {
	width: 100%;
}

BODY,
A:visited {
	font-family: sans-serif;
	color: #444;
}

A {
	text-decoration: none;
	color: #444;
}

A IMG {
	border: 0px;
}

A:hover {
	text-decoration: underline;
}

H1,
SPAN.h1 {
	display: block;
	margin: 1em 0px 0.8em;
	font-size: 200%;
	font-weight: bold;
}

H2,
SPAN.h2 {
	display: block;
	margin: 0.9em 0px 0.6em;
	font-size: 180%;
	font-weight: normal;
}

H3,
SPAN.h3 {
	display: block;
	margin: 0.8em 0px 0.5em;
	font-size: 160%;
	font-weight: bold;
}

H4,
SPAN.h4 {
	display: block;
	margin: 0.7em 0px 0.4em;
	font-size: 140%;
	font-weight: bold;
}

H5,
SPAN.h5 {
	display: block;
	margin: 0.6em 0px 0.3em;
	font-size: 125%;
	font-weight: bold;
}

H6,
SPAN.h6 {
	display: block;
	margin: 0.5em 0px 0.2em;
	font-size: 110%;
	font-weight: bold;
}

P {
	margin: 0.25em 0px 0.5em;
	padding: 0px;
}

UL {
	margin: 0.25em 0px 0.5em;
	list-style-type: none;
	padding-left: 10px;
}

#body LI {
	padding-left: 20px;
	background: transparent url(/--static--/ztfy.blog.defaultskin/img/li.png) scroll no-repeat 5px 0.5em;
}

/**
 * Common styles
 */

.toleft {
	float: left;
	margin-right: 10px;
}

.toright {
	float: right;
	margin-left: 10px;
}

.centered {
	text-align: center;
	clear: both;
}

.nofloat {
	float: none !important;
	margin: 0px !important;
	width: 100% !important;
}

DIV.clearer {
	clear: both;
	height: 0px !important;
	font-size: 0px;
}

IMG.illustration {
	padding: 3px 2px 2px 3px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #EEE;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: 5px 5px 5px #BBB;
	-moz-box-shadow: 5px 5px 5px #BBB;
	-webkit-box-shadow: 5px 5px 5px #BBB;
}

/**
 * Header classes
 */
 
#header DIV.prefix {
	padding: 10px 20px;
	text-align: center;
	min-height: 8px;
	background-color: #6a5c4e;
}

#header DIV.langs {
	float: right;
	padding: 5px;
}

#header DIV.langs LI {
	display: inline;
	list-style-type: none;
	padding: 0px 3px;
}

#header DIV.sections {
}

#header DIV.sections UL {
	list-style-type: none;
	margin: 0px;
	border-top: 1px solid silver;
	padding-left: 20px;
}

#header DIV.sections LI {
	float: left;
	margin-top: -1px;
	margin-right: -1px;
	padding: 7px 20px;
	border: 1px solid silver;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	box-shadow: 2px 2px 5px #AAA;
	-moz-box-shadow: 2px 2px 5px #AAA;
	-webkit-box-shadow: 2px 2px 5px #AAA;
	background-color: #b59e85;
	font-size: 110%;
}

#header DIV.sections LI.login {
	float: right;
	margin-right: 30px;
}

#header DIV.sections LI.login A {
	color: #444;
}

#header DIV.sections LI.selected {
	background-color: #6a5c4e;
	border-top: 0px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	box-shadow: 3px 3px 10px #AAA;
	-moz-box-shadow: 3px 3px 10px #AAA;
	-webkit-box-shadow: 3px 3px 10px #AAA;
	padding: 9px 20px;
	font-weight: bold;
}

#header DIV.sections LI.login.selected SPAN {
	color: #dec2a4 !important;
}

#header DIV.sections LI.selected A {
	color: #dec2a4 !important;
}

#header LI.login INPUT[type=image] {
	vertical-align: bottom;
}

#header LI.login SPAN.inputs {
	display: none;
}

#header DIV.sections LI.management {
	float: right;
	background-color: #FFFF99;
}

#header DIV.crumbs {
	padding-left: 20px;
	font-size: 80%;
}

#left_column {
	float: left;
}

BODY.ISiteManager #left_column {
	display: none;
}

BODY.ISection #left_column,
BODY.ITopic #left_column {
	width: 220px;
}

#right_column {
	float: right;
	max-width: 10%;
}

#content {
	margin-left: 230px;
}

BODY.ISiteManager #content {
	margin-left: 0px;
}

BODY.IBlog DIV.blog,
BODY.ITopic DIV.topic {
	overflow: auto;
}

#body {
	margin: 0px 20px;
}

#body UL.sub_sections {
	float: left;
	width: 202px;
	margin-right: 15px;
	padding: 3px;
	background-color: #b59e85;
	font-size: 110%;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 3px 3px 5px #BBB;
	-moz-box-shadow: 3px 3px 5px #BBB;
	-webkit-box-shadow: 3px 3px 5px #BBB;
}

#body UL.sub_sections2 {
	margin: 0px;
	padding: 0px 3px;
	background-color: None;
	font-size: 90%;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#body UL.sub_sections LI,
#body UL.sub_sections2 LI {
	display: block;
	list-style-type: none;
	background-image: none;
	padding: 2px 10px;
}

#body UL.sub_sections2 LI {
	font-weight: normal;
}

#body UL.sub_sections LI:hover,
#body UL.sub_sections LI.selected,
#body UL.sub_sections LI.selected:hover,
#body UL.sub_sections2 LI:hover,
#body UL.sub_sections2 LI.selected,
#body UL.sub_sections2 LI.selected:hover {
	background-color: #6a5c4e;
	font-weight: bold;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#body UL.sub_sections LI:hover A,
#body UL.sub_sections LI.selected A,
#body UL.sub_sections LI.selected:hover A,
#body UL.sub_sections2 LI:hover A,
#body UL.sub_sections2 LI.selected A,
#body UL.sub_sections2 LI.selected:hover A {
	color: #dec2a4 !important;
}

#body UL.sub_sections2 LI {
	background: transparent url(/--static--/ztfy.blog.hpl/img/dot-off.png) no-repeat scroll 2px 50%;
}

#body UL.sub_sections2 LI.selected {
	background: transparent url(/--static--/ztfy.blog.hpl/img/dot.png) no-repeat scroll 2px 50%;
}

#body DIV.heading {
	float: left;
	width: 45%;
	padding: 5px;
	border: 1px solid #6a5c4e;
	box-shadow: 5px 5px 5px #b59e85;
	-moz-box-shadow: 5px 5px 5px #b59e85;
	-webkit-box-shadow: 5px 5px 5px #b59e85;
}

#body DIV.heading.nofloat {
	width: 97% !important;
}

#body DIV.topics {
	float: right;
	width: 52%;
	overflow: auto;
}

#body DIV.topics DIV.topic H2 {
	padding-left: 20px;
	background: transparent url(/--static--/ztfy.blog.defaultskin/img/li-big.png) scroll no-repeat 5px 0.2em;
}

#body DIV.topics DIV.pages {
	text-align: center;
	margin-top: 10px;
}

#body DIV.topics DIV.pages A {
	display: inline-block;
	min-width: 30px;
	padding: 2px 4px;
	border: 2px solid #b59e85;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#body DIV.topics DIV.pages A.current {
	background-color: #b59e85;
}

#body DIV.topic DIV.publication {
	margin-top: 0px;
	padding: 2px 10px;
	background-color: #b59e85;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#body DIV.topic DIV.footer {
	margin-bottom: 20px;
}

#body DIV.topic DIV.tags {
	float: right;
	text-align: right;
	padding-top: 1px;
	padding-right: 10px;
}

#body DIV.topic SPAN.tag {
	display: inline-block;
	padding-left: 20px;
	margin-top: 1px;
	min-height: 16px;
	background: transparent url(/--static--/ztfy.blog.defaultskin/img/tag.png) scroll no-repeat 3px 50%;
}

#body DIV.topic P.heading {
	font-weight: bold;
}

#body DIV.topic DIV.resources H3,
#body DIV.topic DIV.links H3 {
	padding: 2px 4px;
	font-size: 110%;
	background-color: #b59e85;
	border: 1px solid #b59e85;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#body DIV.topic DIV.resources LI.resource A,
#body DIV.topic DIV.links LI.link A {
	color: #5b6a76 !important;
}

#body IFRAME.code {
	border: None;
	width: 100%;
}

#body DIV.comments H3 {
	padding: 2px 4px;
	font-size: 110%;
	background-color: #E7FB71;
	border: 1px solid #E7FB71;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#body DIV.comments DIV.dsq-missing-permissions {
	margin-top: 2px;
	border: 2px solid #6a5c4e;
	background-color: #CFF695;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#body DIV.comments DIV.dsq-missing-permissions A {
	color: #078800;
}

#footer {
	background-color: #b59e85;
	margin-top: 20px;
	border-top: 1px solid silver;
	padding: 5px;
}

#footer DIV {
	text-align: center;
}

#footer DIV.credits A {
	color: #444;
}

/* Custom styles */

P SPAN.author {
	font-weight: bold;
	color: #5b6a76;
}

P SPAN.title {
	font-weight: normal;
	color: #5b6a76;
}

P SPAN.origtitle {
	font-weight: normal;
	font-style: italic;
	color: #5b6a76;
}

P.extrait {
	font-weight: normal;
	color: #B59E85;
	padding: 5px 12px;
}

P.extrait SPAN.source {
	color: #444;
}
