/*
* Feuilles de styles pour l'admin de Kiwi
* Créé par David THENON en Mai 2010
* Licence GPL
*
*/
/* 
* ...
*/
#wikipage-table-tree{
    width:100%;
}
#wikipage-table-tree tbody tr th,
#wikipage-table-tree tbody tr td{
    padding-top:8px;
    padding-bottom:8px;
}
#wikipage-table-tree tbody tr{
    background:#ffffff;
}
#wikipage-table-tree tbody tr:hover{
    background:#edf3fe;
}
#wikipage-table-tree th.uri-cell{
    width:20%;
}
#wikipage-table-tree tr span.parent{
    background-image:url("images/parent.gif");
    background-position:bottom right;
    background-repeat:no-repeat;
}
#wikipage-table-tree tr span.child{
    background-image:url("images/child.gif");
    background-position:bottom right;
    background-repeat:no-repeat;
}

#wikipage-table-tree .active-cell,
#wikipage-table-tree .in_sitemap-cell,
#wikipage-table-tree .last-modification-cell{
    text-align:center;
}