[buildout]
develop = .
extensions = buildout.dumppickedversions
extends = http://grok.zope.org/releaseinfo/1.5.5/versions.cfg

unzip = true
prefer-final = true
versions = versions
parts =
  omelette
  test

[test]
recipe = zc.recipe.testrunner
eggs =
    megrok.strictrequire
    megrok.strictrequire[test]

[omelette]
recipe = collective.recipe.omelette
eggs = megrok.strictrequire
