/* pyojo xml css */
response{ font-family: serif; background: white; color: #003 }
javascript { font-size: large; margin: 1em 0 }
script { font-size: x-large; margin-bottom: 1em }
content { text-indent: 1em; text-align: justify }