/* styles for cms-widgets */

.widget-1, .widget-2 {
    h1, h2, h3, h4, h5 {
        font-size: 18px;
        color: @gray;
        .border-radius(3px 3px 0 0);
        margin: -20px -20px 10px -20px;
        padding: 0px 10px 0px 10px;
        background: @grayLighter;
        border-bottom: 1px solid darken(@grayLighter, 5%);
        border-top: 1px solid @white;
    }
}

.widget-1 {
    border-left: 3px solid @cmsColorPrimary;
}

.widget-2 {
    border-left: 3px solid @cmsColorSecondary;
}
