/* zrt-replace: "/@@/j01RaterImages" tal"string:${context/++resource++j01RaterImages}" */

div.j01Rater {
    width: 250px;
	clear: both;
	display: block;
}

div.j01Rater:after {
	content: '.';
	display: block;
	height: 0;
	width: 0;
	clear: both;
	visibility: hidden;
}

div.j01Rater .cancel,
div.j01Rater .star {
	float: left;
	width: 17px;
	height: 16px;
	overflow: hidden;
	text-indent: -999em;
}

div.j01Rater .star-left,
div.j01Rater .star-right {
  width: 8px
}

div.j01Rater .cancel,
div.j01Rater .cancel a {background: url(/@@/j01RaterImages/ratingDelete.gif) no-repeat 0 -16px;}
div.j01Rater .star,
div.j01Rater .star a {background: url(/@@/j01RaterImages/ratingStar.gif) no-repeat 0 0px;}
div.j01Rater .star-left,
div.j01Rater .star-left a {background: url(/@@/j01RaterImages/ratingStarLeft.gif) no-repeat 0 0px;}
div.j01Rater .star-right,
div.j01Rater .star-right a {background: url(/@@/j01RaterImages/ratingStarRight.gif) no-repeat 0 0px;}
	
div.j01Rater .cancel a,
div.j01Rater .star a {
	display: block;
	width: 100%;
	height: 100%;
	background-position: 0px 0px;
}

div.j01Rater .ratable div.on,
div.j01Rater .ratable div.on a {
	cursor: pointer;
	background-position: 0 -16px;
}

div.j01Rater .average div.on,
div.j01Rater .average div.on a {
	background-position: 0 -16px;
}

div.j01Rater div.hover a,
div.j01Rater div a:hover {
	background-position: 0 -32px;
}

div.j01Rater div.current {
	float: left;
	width: 50px;
	padding: 2px 5px 0px 5px;
}

