.bubble {
    position: relative;
    padding: 30px;
    padding-left: 4em;
    margin: 0;
    margin-bottom: 25px; /* 20 + 5 */
    background: #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: justify;
}
.bubble:before {
    content: '';
    position: absolute;
    display: block;
    z-index: 1;
    bottom: -20px;
    left: 40px; /* 60/2 + 10 */
    width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 20px 0 0;
	border-color: #DDD transparent transparent transparent;
}
.bubble span {
    position: relative;
}
.bubble span:before {
    content: "\201C";
    font-size: 5em;
    position: absolute;
    font-family: Times;
    top: -0.3em;
    margin-left: -0.5em;
}


.portletMot .portletItem .carre {
	margin-left: 10px;
}