.gritter-close {
  position:absolute;
  top:-15px;
  left:-15px;
  background:url(++resource++collective.js.gritter/gritter.png) no-repeat left top;
  cursor:pointer;
  width:30px;
  height:30px;
}
#gritter-notice-wrapper {
  position:fixed;
  top:20px;
  right:20px;
  width:301px;
  z-index:9999;
}
#gritter-notice-wrapper .gritter-item-wrapper {
  width:300px;
}
.gritter-item-wrapper {
  -webkit-border-radius: 4px;
  background-color: #d9edf7;
  border-color: #3A87AD;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;  
  color: #3a87ad;
  font-size: 80%;
  margin-bottom:10px;
  padding: 5px 8px;
  position:relative;
}
.gritter-item-wrapper.info {
}
.gritter-item-wrapper.error {
  background-color: #f2dede;
  border-color: #b94a48;
  color: #b94a48;
}
.gritter-item-wrapper.warning {
  background-color: #fcf8e3;
  border-color: #c09853;
  color: #c09853;
}
.gritter-item a {
  text-decoration: underline;
}
.gritter-item p {
  padding:0;
  margin:0;
}
.gritter-title {
  font-size:14px;
  font-weight:bold;
  padding:0 0 7px 0;
  display:block;
}
.hover .gritter-item {}
.gritter-image {}
.gritter-with-image,
.gritter-without-image {}
.gritter-with-image {}