[buildout]
extends = versions/versions.cfg
parts = test
    paste
develop = .
allow-picked-versions = false

[versions]
gocept.package =

# Since paster calls setup.py with sys.executable to have egg-info created, we
# need to make sure to use a Python installation that has at least setuptools
# available. Furthermore, buildout's test part exports a PYTHONPATH such that
# the test part's site.py is loaded, which may conflict with the subprocess
# call to the operating system's hg (and will certainly do so if that happens
# to use a different Python version than the buildout).
[vpython]
recipe = tl.buildout_virtual_python
eggs = distribute

[test]
recipe = zc.recipe.testrunner
eggs = gocept.package [test, doc]
python = vpython

[paste]
recipe = zc.recipe.egg
eggs =
    PasteScript
    gocept.package
scripts = paster
python = vpython
