#content div.fc-event-inner .link-overlay,
#content div.fc-event-inner a:hover {
    color: #ffffff !important;
}

#content .fc-agenda-head > table{
  margin-bottom: 0em;
}

#content .fc-agenda-body > div > table{
  margin-bottom: 0em;
}

#content .fc-header .fc-button-next.ui-state-default,
#content .fc-header .fc-button-prev.ui-state-default {
    padding-top: 6px;
    padding-bottom: 5px;
}