.file-content table {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    background: transparent;
    background-color: #ffffff;
    border: none;
    font-family: 'Trebuchet MS',Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    hyphens: auto;
    margin: 0px;
    padding: 0px;
    width: auto;
}

.file-content table td {
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 5px;
    padding-top: 2px;
    width: auto;
}


.file-content table tbody td { background-color: #ffffff; border: 0; width: auto;}

.file-content table tbody tr { background: none; background-color: #ffffff; }
.file-content table tbody tr:hover {
    -webkit-box-shadow: inset 0px 0px 5px 0px #898989;
    -moz-box-shadow: inset 0px 0px 5px 0px #898989;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px 0px #898989;
    color: red;
    cursor: pointer;
}

.files-table-name { float: left;}

.files-table-image { display: inline; float: left; margin-right: 8px; top: -1;}

.file-content table tbody .file-table-selection-p
{
    display: inline;
    position:relative;
    float: left;
    margin-left: 4px;
    left: 0px;   
    top: 1px;
}

.file-content table tbody .file-table-first-column{display: inline-block; margin-right: 5px;}
