@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css');

body.template-affichage_mosaique #content-core .mosaique-row,
body.template-affichage_mosaique2 #content-core .mosaique-row,
body.template-affichage_mosaique3 #content-core .mosaique-row {
	display: flex;
	display: -moz-flex;
	display: -webkit-flex;
	align-items: stretch;
	-moz-align-items: stretch;
	-webkit-align-items: stretch;
}

body.template-affichage_mosaique2 #content-core .mosaique-image img,
body.template-affichage_mosaique3 #content-core .mosaique-image img {
	width: 100%;
	height: auto;
}