@charset "UTF-8"

@import compass
@import compass/css3/user-interface

+font-face('Roboto', font-files("font/Roboto-Thin.ttf"))

@import variables
@import forms
@import spinner
@import flip-panel
@import flip-box

body
	padding: 20px

.table-bordered .col-no-border-left
	border-left: 0
	padding-bottom: 0
	padding-top: 0
	vertical-align: middle

.align-left.align-left
	text-align: left

.align-right.align-right
	text-align: right

.align-center.align-center
	text-align: center

.table .small-row-header
	width: 1px
	padding-left: 1.5em
	padding-right: 1.5em
	text-align: right

.table td p:last-child
	margin-bottom: 0

.modal-background
	$hd: $dialogsAnimationDuration/2
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	display: none
	z-index: $zindexModalBackdrop

	&.active
		display: block

	&:not(.visible)
		+transition(all $hd 0s)

	&.visible
		background: rgba(#000, .2)
		+transition(all $hd $hd)

.confirm-panel
	max-width: 500px
	margin: 100px auto 0
	padding: 20px
	text-align: center
	border: 1px solid #eee
	background: #fafafa
	+box-shadow(#fff 0px 0px 10px inset)
	+border-radius($borderRadiusLarge)
	+box-sizing(border-box)

	form
		margin: 0
		padding-top: 20px

h1
	font-size: 30px

h2
	font-size: 22px

.icon-success
	color: #229922

.icon-danger
	color: #dd0000

.file-viewer
	background: #f3f3f3
	border: 1px solid #ccc
	padding: 6px
	+border-radius($borderRadiusLarge)
	+box-shadow(#fff 0px 0px 10px inset, #eee 0px 0px 6px)

	.titlebar
		border: 1px solid #ccc
		padding: 0 15px
		font-size: .9em
		color: #666
		background: #f9f9f9
		margin-bottom: 6px
		position: relative
		+border-radius($baseBorderRadius)
		+box-shadow(#fff 0px 0px 10px, #eee 0px 0px 4px inset)

		i
			font-size: 1.5em
			vertical-align: -10%
			padding-right: 7px

		.btn-group
			position: absolute
			right: 5px
			top: 5px

			.btn
				font-weight: bold
				color: #555

	h1
		font-family: Monaco, Menlo, Consolas, "Courier New", monospace
		font-size: 1em
		margin: 0
		padding: 0
		display: inline

	.tablewrapper
		border: 1px solid #ccc
		background: #fefefe
		width: 100%
		+box-sizing(border-box)
		+border-radius($baseBorderRadius)
		+box-shadow(#fff 0px 0px 10px, #eee 0px 0px 4px inset)


.highlighttable
	border-spacing: collapse
	max-width: 100%
	width: 100%
	table-layout: fixed
	+box-sizing(border-box)

	pre
		border: 0
		background: 0
		margin: 0
		padding: 0
		white-space: pre
		line-height: 1.65em
		word-wrap: normal

	td
		padding: 10px 15px

	.linenos
		white-space: pre
		border-right: 1px solid #ddd
		text-align: right
		width: 30px

		pre
			color: rgba(#000, .3)

		.linenodiv
			padding: 0

	.code
		width: auto
		padding: 0

	.highlight
		background: 0
		max-width: 100%
		padding: 10px 15px
		float: left
		white-space: pre
		overflow-x: scroll
		+box-sizing(border-box)

footer
	position: fixed
	bottom: 0
	left: 0
	right: 0
	+background-image(linear-gradient(left, rgba(#000, .7) 500px, rgba(#000, 0) 800px))
	color: #ccc
	padding: 10px
	font-size: 13px
	opacity: .5

	+transition(opacity 1.5s .5s)

	&:hover
		opacity: 1
		+transition(opacity .5s 0s)

	p
		font-weight: bold
		margin-bottom: 0
		float: left

	ul
		margin: 1px 0 0 30px
		float: left
		li
			display: inline

		li + li:before
			content: ' ・ '
			color: #aaa

		a
			color: #fff

			&:hover
				color: #fff
