/* iPhone menu ----------------------------- */

@media only screen and (max-width:650px) {

	.logo-img, .logo-text {
		margin-bottom: 10px;
		float: left;
	}

	.top-bar {
		float: left;
		margin-top: 0px;
	}

	.menu-wrap {
		float: left;
	}

	.menu-wrap .main-select-menu {
		display: block;
	}

	.main-nav {
	    display: none;
	}

	.menu-header-container {
		position: relative;
	}

	.menu-wrap .main-select-menu {
		width: 100%;
		margin: 20px 0 0 0;
	}

	.menu-wrap form div{
		position: relative;
	}

	.menu-wrap select.main-select-menu {
	    position: relative;
	    z-index: 10;
	    width: 300px !important;
	    height: 41px !important;
	    line-height: 26px;
	}

	.menu-wrap span.select {
		display: block;
	}

	.menu-wrap span.select{
	    position: absolute;
	    bottom: 0;
	    float: left;
	    left: 0;
	    width: 300px;
	    height: 41px;
	    line-height: 43px;
	    font-size: 14px;
	    font-weight: bold;
	    color: #fff;
	    text-indent: 15px;
	    background: url(images/select.png) no-repeat center;
	    cursor: default;
	    z-index: 1;
	}

    .secondary-menu li {
        display: block;
    }

    .secondary-menu li a {
        display: block;
        width: 100%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
    .menu-wrap span.select {
        background: url(images/select@2x.png);
        background-size: 300px 41px;
        color: #fff;
    }

    .secondary-menu-wrap span.select {
        background: url(images/select2@2x.png);
        background-size: 300px 41px;
        color: #6e8291;
    }
}

/* iPhone ----------------------------- */

@media only screen and (max-width:767px) {

	body {

	    font: 13px/22px 'Merriweather', Georgia, serif;
	}

	#wrapper {
		padding: 0 10px;
	}

	#content {
		margin-top: 50px;
		width:100%;
	}

	#content p {
		font-size: 13px;
	}

	.secondary-menu {
		padding: 10px 0;
	}

	.secondary-menu li {
		margin: 0 0 0 0 !important;
		padding: 5px 10px;
	}

	.secondary-menu li:hover, .secondary-menu li.current-cat {
		background: #fff;
		border: none;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;
	}

	.scroll {
		margin: 30px 0 30px 0;
	}

	.scroll-excerpt {
		font-size: 26px;
		line-height: 36px;
	}

	.entry-title {
		font-size: 24px;
		line-height: 34px;
	}

	.title-meta {
		font-size: 11px;
	}

	.post {
		margin-bottom: 35px;
	}

	.post .bar {
		padding-top:10px;
	}

	.bar .tags {
		float: left;
		clear: both;
		margin: 8px 0 0 3px;
        width: 100%;
	}

	.bar .tags .title {
		margin-right: 8px;
	}

	.bar .share {
		float: left;
		width: 100%;
		margin: 0 0 8px 20px;
	}

	.bar .share a {
		float: left;
	}

	.post-nav {
		margin: 25px 0;
	}

	.next-prev {
		margin-top:0px;
		font-size: 12px;
	}

	#sidebar {
		clear: both;
		float: left;
		width: 100%;
		margin-left: 0;
		margin-top:0px;
	}

	.tabs > li a {
		width: 55px;
	}

	#respond input[type="text"], #respond textarea {
    	width: 100%;
    }

    #cancel-comment-reply {
		float: left;
	}

	.wpcf7 input[type="text"] {
    	width: 100%;
    }

    #footer .copyright {
	    margin-top: 15px;
    }

    .social-icons {
		float: left;
		margin-top: 15px;
	}
}


/* iPad (landscape) ----------------------------- */

@media screen and (min-width:768px) and (max-width:1024px) {

	.tabs li a {
		width:32px;
	}

	.recent-comments-widget .comment-avatar-right {
		width: auto;
		margin-left: 10px;
	}

}

/* iPad (portrait) ----------------------------- */

@media screen and (min-width:650px) and (max-width:768px) {

	.menu-wrap {
		float: right;
	}

	.top-bar {
		float: right;
		margin-top:0px;
	}

	.menu-wrap {
		float: right;
	}

	.menu-wrap .main-select-menu {
		display: block;
	}

	.main-nav {
	    display: none;
	}

	.select-menu, .main-select-menu {
		width: 100%;
		margin: 0;
	}

	.menu-header-container {
		position: relative;
	}

	.select-menu, .main-select-menu {
		width: 100%;
		margin: 10px 0 0 0;
	}

	.menu-wrap form div{
		position: relative;
	}

	.menu-wrap select.main-select-menu{
	    position: relative;
	    z-index: 10;
	    width: 300px !important;
	    height: 41px !important;
	    line-height: 26px;
	}

	.menu-wrap span.select {
		display: block;
	}

	.menu-wrap span.select{
	    position: absolute;
	    bottom: 0;
	    float: left;
	    left: 0;
	    width: 300px;
	    height: 41px;
	    line-height: 43px;
	    font-size: 14px;
	    font-weight: bold;
	    color: #fff;
	    text-indent: 15px;
	    background: url(images/select.png) no-repeat center;
	    cursor: default;
	    z-index: 1;
	}

	#content {
		width: 74.5%;
	}

	#sidebar {
		width: 22.75%;
		margin-left: 2.75%;
		margin-top: 45px;
		clear: none;
	}

	.tabs li, .tabs li a {
		width: 100%;
	}

	.count-box {
		padding-left: 48px;
	}

	.recent-comments-widget .comment-avatar-right {
		width: auto;
		margin-left: 5px;
	}

}
