body {background-color: #fffeee;}

/* uncomment the below selector to get a fixed-width layout. *
 * 60em is equivalent to 960px in this case, and every       *
 * grid cell will be 40px with 10px padding.                 */

#visual-portal-wrapper { background-color: #fffeee; width: 60em; margin: 0 auto; }

/* To change the link color (or the navigation link  background), uncomment *
 * the selectors below, and insert new color values:                        */

a:link, a:visited {
    color: #00aef0;
}

#portal-globalnav {
    clear: both;
    font-size: 80%;
    background: #f2f1e4;
    /* ensure top navigation dont touches portlets, content etc.. #10491 */
    margin: 0 0 1em 0;
}



#portal-globalnav li a {
    display: inline-block;
    background: #f2f1e4;
    min-width: 6em;
    white-space: normal;
    /*TODO: Once we have removed the whitespace from the nav template, this can be put back*/
    /*border-bottom: 0.1em solid White;*/
    border-right: 0.1em solid white;
}

#portal-globalnav .selected a:hover {
    background: #f2f1e4;
    color: #00aef0;
}


#portal-globalnav .selected a,
#portal-globalnav a:hover {
    background: #00aef0;
    color: White;
}


#portal-globalnav li.selected a {
  background-color:#00aef0;
  color:#fff;
  }

#portal-globalnav li.selected a:hover {
  background-color:#00aef0;
  color:#fff;
  }

#portal-globalnav li.selected ul li a {
  background-color:#f2f1e4;
  color:#00aef0;
  }

#portal-globalnav ul li a {
  background-color:#f2f1e4;
  border-top:1px solid #fff;
  }

#portal-globalnav ul li a.hasChildrens {
  background-image:url(++resource++quintagroup.dropdownmenu.images/ddm-pointer.gif);
  background-position:100% 50%;
  background-repeat:no-repeat;
  background-color:#f2f1e4;
  }
#portal-globalnav ul li a.hasChildrens:hover {
  background-image:url(++resource++quintagroup.dropdownmenu.images/ddm-pointer.gif);
  background-position:100% 50%;
  background-repeat:no-repeat;
  background-color:#00aef0;
  }
#portal-globalnav:hover li:hover > a {
  background-color:#00aef0;
  color:#fff;
  }
#portal-globalnav:hover li:hover ul > a {
  background-color:#f2f1e4;
  color:#00aef0;
  }

#portal-globalnav li.selected a {
  background-color:#00aef0;
  color:#fff;
  }
#portal-globalnav li.selected ul li a {
  background-color:#f2f1e4;
  color:#00aef0;
  }



#portal-personaltools {
    float: right;
    background: #f2f1e4;
    position: relative;
    z-index: 3; /* personaltools should be above #portal-header (with z-index: 2) */
    top: 0;
    right: 0;
    padding: 0.25em 0.5em;
    font-size: 80%;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
    -moz-border-radius-bottomleft: 0.5em;
    -moz-border-radius-bottomright: 0.5em;
}
#portal-personaltools dd {
    background: #f2f1e4;
    padding-bottom: 0.5em;
}

#portal-personaltools dd a:hover {
    background: #f2f1e4;
    color: White;
}


#contentActionMenus dl.actionMenu a,
#contentActionMenus dl.actionMenu.activated dd {
    background-color: #75ad0a;
    color: White;
    z-index: 5;
}

/* To change the edit bar color, uncomment the selectors below, and insert *
 * new color values:                                                        */

#contentActionMenus,
dl.actionMenu.activated dd,
#content-views,
#edit-bar {
    background-color: #75ad0a;
    border-color: #75ad0a;
}
dl.actionMenu a {
    background-color: #f2f1e4;
}


#portal-siteactions li a:hover {
    color: #75ad0a;
}

#content a:hover,
dl.portlet a:hover {
    color: #75ad0a !important; /* This one gets an !important because it should always activate in the content area, even when state coloring is active */
}


#edit-bar {
    background-color: #75ad0a;
    border: 0.25em solid #75ad0a;
    font-size: 80%;
    min-height: 2em;
    margin-bottom: 1em;
    padding-top: 0.05em;
}

/* If you want to hide the path bar (aka. breadcrumbs), uncomment the below: */

/*
#breadcrumbs-you-are-here,
#breadcrumbs-home,
#breadcrumbs-current,
#breadcrumbs-1 {
    display: none;
}
*/

div.managePortletsLink,
a.managePortletsFallback {
    background: #fffeee;
}


/* If you want variables in the CSS (for example for colors that are used     *
 * in several locations), Plone has a built-in facility for this. An example  *
 * is shown below, the variables are defined in the file "base_properties",   *
 * and below we show the syntax for using them directly in the CSS file.      *
 * Note that you always need to surround the relevant part (or the entire CSS *
 * file) with the dtml-with statements for it to work.                        */

/*

/* 
<dtml-with base_properties>
    #content a:link { color: &dtml-linkColor;; }
</dtml-with>
*/


#portal-footer {
    font-size: 75%;
    background: #fffeee;
}

/* Hide edit form fields; display in modal only */

#formfield-form-widgets-coverage,
#formfield-form-widgets-dublin_core_format,
#formfield-form-widgets-identifier,
#formfield-form-widgets-language,
#formfield-form-widgets-publisher,
#formfield-form-widgets-relation,
#formfield-form-widgets-rights,
#formfield-form-widgets-source,
#formfield-form-widgets-subject,
#formfield-form-widgets-dublin_core_type 
{
    display: none;
}

input {
    height: 29px !important;
}
