.jobmanagement.ui-accordion .jobmanagement.ui-accordion-header { display: block; cursor: pointer; position: relative; margin-top: 2px; padding: .5em .5em .5em .7em; zoom: 1; }
.jobmanagement.ui-accordion .jobmanagement.ui-accordion-icons { padding-left: 2.2em; }
.jobmanagement.ui-accordion .jobmanagement.ui-accordion-noicons { padding-left: .7em; }
.jobmanagement.ui-accordion .jobmanagement.ui-accordion-icons .ui-accordion-icons { padding-left: 2.2em; }
.jobmanagement.ui-accordion .jobmanagement.ui-accordion-header .ui-accordion-header-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.jobmanagement.ui-accordion .jobmanagement.ui-accordion-content { padding: 1em 2.2em; border-top: 0; overflow: auto; zoom: 1; }

/*
.ui-state-active{background: #cccccc;}
.ui-state-active{background: {bgColorActive};}
*/

.fixedtable {table-layout: fixed;}


.jobmanagement.column { width: 50%; height:100%; float: left; padding: 0px; margin: 0px;}
.jobmanagement.portlet { margin: 0 1em 1em 0;}
.jobmanagement.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
.jobmanagement.portlet-header .jobmanagement.ui-icon { float: right; }
.jobmanagement.portlet-headeradddelete { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }

.jobmanagement.portlet-content { padding: 0.4em; }
.jobmanagement.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.jobmanagement.ui-sortable-placeholder * { visibility: hidden; }

.treeTable tr td .expander {
  cursor: pointer;
  padding: 0;
  zoom: 1; /* IE7 Hack */
}

.treeTable tr td a.expander {
  background-position: left center;
  background-repeat: no-repeat;
  color: #000;
  text-decoration: none;
}

/* selected */

/*
.treeTable tr.selected, .treeTable tr.accept {
  background-color: #3875d7;
}

.treeTable tr.selected a.expander, .treeTable tr.accept a.expander {
  color: #fff;
}

.treeTable tr.collapsed.selected td a.expander, .treeTable tr.collapsed.accept td a.expander {
  background-image: url(../images/toggle-expand-light.png);
}

.treeTable tr.expanded.selected td a.expander, .treeTable tr.expanded.accept td a.expander {
  background-image: url(../images/toggle-collapse-light.png);
}

.treeTable .ui-draggable-dragging {
  color: #000;
  z-index: 1;
}

/* Layout helper taken from jQuery UI. This way I don't have to require the
 * full jQuery UI CSS to be loaded. */
.jobmanagement.ui-helper-hidden { display: none; }


.closespacing { /* controls spacing between elements */
    margin:0px 0px 0px 0px;
 }

 .floatleft {
    float:left;
 }
 
 .forceinline{  /* Prevent fieldcontain from doing a BLOCK thing */
    display:inline !important;
}

.jobmanagement.ui-hide-label.ui-br, .jobmanagement.no-field-separator {
    /*border-bottom-width: 0;*/
    padding: .5em 0;
    margin: 0;
    border: none;
	overflow: visible; 
}

.jobmanagement.ui-field-contain.ui-hide-label, .jobmanagement.no-field-separator {
    margin: 0.5em 0;
    padding: 0;

}

.hiddenrow{
	display:none;
}

/* tables */
table.mytablestyle {
//	font-family: 'arial';
//	background-color: #CDCDCD;
	margin:10px 0pt 15px;
//	font-size: 8pt;
	width: 100%;
	text-align: left;
}

table.mytablestyle thead tr th, table.mytablestyle tfoot tr th {
//	background-color: #e6EEEE;
//	border: 1px solid #FFF;
//	border: 1px solid;
//	font-size: 8pt;
	padding: 4px;
}

table.mytablestyle thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.mytablestyle tbody td {
//	color: #3D3D3D;
	padding: 4px;
//	background-color: #FFF;
	vertical-align: top;
}

/*
table.mytablestyle tbody tr.odd td {
	background-color:#F0F0F6;
}
*/

table.mytablestyle thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.mytablestyle thead tr .headerSortDown {
	background-image: url(desc.gif);
}

/*
table.mytablestyle thead tr .headerSortDown, table.mytablestyle thead tr .headerSortUp {
background-color: #8dbdd8;
}
*/