/*** immagine  ***/
.image_float {
	float: left;
	margin-right:1em;
	margin-bottom:1em;
}
.clr_left {
	clear: left;
}

.sectionBookmarks li{
	float:left;
	list-style: none outside none;
}

.sectionBookmarks li a.bookmarkItem{
    border-bottom: 0 none !important;
}

.sectionBookmarks .bookmarkId{
	display:none;
}