html, body {
    background: #555;
    height: 100%;
}

#external-container {
    background: white;
    min-height: 100%;
    margin: 0;
}

#main-content {
    padding-bottom: 130px;
}

footer {
    position: relative;
    background-color: #363636;
    *background-color: #222222;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
    background-image: -webkit-linear-gradient(top, #444444, #222222);
    background-image: -o-linear-gradient(top, #444444, #222222);
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-image: -moz-linear-gradient(top, #444444, #222222);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    margin-top: -130px;
    height: 130px;
}

footer a, footer a:link, footer a:visited {
    color: #61b2d5;
}

footer a:hover {
    color: #51a2c5;
    text-decoration: underline;
}

footer > div.container > div.row {
    color: #eee;
    padding: 2em 0;
}

.hidden {
    display: none;
}

input {
    width: 400px;
}

input.search-query {
    width: 206px;
}

select {
    width: 400px;
}

textarea {
    width: 400px;
}
