body {
  font-family: 'Vollkorn', serif;
  margin: 0px;
  padding: 0px;
  background-color: black;
}
.rsbp-wrapper {
  background-color: #fcfaf2;
  margin: 0;
  padding: 20px;
  padding-bottom: 50px;
  border-bottom: 1px solid black;
}
.rsbp-main {
  font-size: 14pt;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.rsbp-main h1 a {
  text-decoration: none;
  color: black;
}
.rsbp-main h1 a:hover {
  color: red;
}
.rsbp-main h1 a:active {
  color: blue;
}
.rsbp-post h2 a {
  text-decoration: none;
  color: black;
}
.rsbp-post h2 a:hover {
  color: red;
}
.rsbp-post h2 a:active {
  color: blue;
}
.rsbp-post-list {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}
.rsbp-meta {
  clear: both;
  color: #999999;
  font-size: 10pt;
}
.rsbp-meta a {
  text-decoration: none;
  color: #999999;
}
.rsbp-meta a:hover {
  color: red;
}
.rsbp-meta a:active {
  color: blue;
}
.rsbp-tags ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.rsbp-tags ul li {
  display: inline;
}
.rsbp-footer {
  position: relative;
  bottom: 0;
  min-height: 150px;
  color: #a9a9a9;
  margin: 0;
  padding: 20px;
  text-align: center;
  background-color: #1d1d1d;
  margin-bottom: 20px;
}
.rsbp-pagination {
  text-align: center;
}
