[buildout]
develop = .
parts = test checker coverage-test coverage-report


[env]
# key for 127.0.0.1:8080
M01_GMAP_API_KEY = ABQIAAAAFAsu6H_TCNEapjedv-QILxTwM0brOpm-All5BF6PoaKBxRWWERQwU76rKRQO6OVZmsjxrqya2hcEBw


[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$']
eggs = m01.gmap [test]
environment = env


[checker]
recipe = p01.recipe.setup:importchecker
path = src/m01/gmap

[coverage-test]
recipe = zc.recipe.testrunner
eggs = m01.gmap [test]
defaults = ['--coverage', '../../coverage']
environment = env


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
