.portlet.portletEvenementiels .list-group-item {
	padding: 10px;
}
.portlet.portletEvenementiels a.list-group-item {
	min-height: 80px;
	display: table;
	width: 100%;
}
.portlet.portletEvenementiels a.list-group-item:after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    speak: none;

	content: "\f054";
	display: table-cell;
	vertical-align: middle;
}
.portlet.portletEvenementiels a.list-group-item .carre {
	margin-right: 10px;
}