.announcement .label {
    float: right;
}

/* announcements */
.update {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #eeeeee;
}

.update header .controls {
    float: right;
}

.update input[name$=DELETE], .update label[for$=DELETE] {
    display: none !important;
}

#announcementlist {
    list-style: none;
}