.auto-warning {padding: 8px 15px;}
.auto-row td {padding-top: 5px !important;}

.auto-module tr.add-row, .auto-module .inline-deletelink,
.auto-module table th:last-child, .auto-module table td.delete,
.auto-field a.add-another, .auto-row .original p,
.list .help, .list label, .list a.add-another
{display: none;}

.list ul {margin-left: 0px !important; padding-left: 0px !important;}
.list ul li {list-style: none;}