#form-empty {
    display: none;
}
.choice-form #form-empty {
    display: block;
}
select {
    display: none;
}
.poll-form label {
    display: block;
}
td.percentage {
    width: 200px;
    background-color: red;
}
div.percentage {
    background-color: green;
}