.imagelegendee {
	position: relative;
	display: block;
}
.imagelegendee img {
	width: 100%;
	height: auto;
}
.imagelegendee > span {
	position: absolute;
	left: 0;
	top:10px;
	background-color: rgba(0,0,0,0.75);
	color: #FFF;
	padding: 10px;
	text-align: center;
	max-width: 66%;
}
.imagelegendee > span:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 10px;
	left: 10px;
	border-right: 10px solid rgba(0,0,0,0.33);
	border-bottom: 10px solid rgba(0,0,0,0.33);

    transition-property: top, left, border;
    -webkit-transition-property: top, left, border;
    transition-duration: 0.25s;
    -webkit-transition-duration: 0.25s;
}
.imagelegendee:hover > span:after {
	top: 15px;
	left: 15px;
	border-right-width: 15px;
	border-bottom-width: 15px;
}
.imagelegendee > span strong {
	font-family: "Roboto";
	font-weight: 100;
	font-size: 150%;
	padding-bottom: 5px;
	display: inline-block;
}
.imagelegendee > span span {
	border-top: 1px solid rgba(255,255,255,0.5);
	padding-top: 5px;
	display: inline-block;
}