/*** ENVELOPPE ***/
@couleur: #DDD;
@largeur: 200px;
@hauteur: 100px;
@decalage: 10px;
@hover: 15px;

.enveloppe {
    position: relative;
    display: inline-block;
    transition-property: margin, padding;
    -webkit-transition-property: margin, padding;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;

    &:hover {
        margin-top: -@hover;
        padding-bottom: @hover;
    }

    /*** DEVANT ***/
    &:before, &:after {
        content: '';
        position: absolute;
        display: block;
        z-index: 4;
        bottom: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
    }
    /* Devant droite */
    &:before {
        right: -@decalage;
        border-width: 0 0 @hauteur (@largeur + 2*@decalage);
        border-bottom-color: darken(@couleur, 10%);
    }
    /* Devant gauche */
    &:after {
        left: -@decalage;
        border-width: @hauteur 0 0 (@largeur + 2*@decalage);
        border-left-color: @couleur;
    }

    /*** DERRIERE ***/
    span {
        display: inline-block;

        &:before, &:after {
            content: '';
            position: absolute;
            display: block;
            left:-@decalage;
            z-index: 1;
            bottom: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-color: transparent;
        }
        /* Derriere bas */
        &:before {
            border: 0;
            width: (@largeur + 2*@decalage);
            height: @hauteur;
            background-color: darken(@couleur, 40%);
        }
        /* Derriere haut */
        &:after {
            bottom: @hauteur;
            border-width: 0 (@largeur / 2 + @decalage) (@hauteur / 2) (@largeur / 2 + @decalage);
            border-bottom-color: darken(@couleur, 40%);
        }

        /* OMBRE IMAGE */
        strong {
            display: inline-block;

            &:before {
                display:block;
                z-index: 3;
                content:'';
                position:absolute;
                width:100%;
                height:100%;
                box-shadow:0 0 20px #000 inset;   
            }

            /* IMAGE */
            img {
                position: relative;
                width:@largeur;
                height: auto;
                z-index: 2;
                padding-bottom: (@hauteur / 2) - @hover;
            }
        }
    }
}


