/* zrt-replace: "./img" tal"string:${context/++resource++j01LiveSearch}" */

#j01LiveSearch {
    margin : 0;
    padding : 0;
}

#j01LiveSearchInput {
    width: 300px;
    vertical-align : middle;
    border: #A7A78B solid 1px;
}

#j01LiveSearchSubmit {
    vertical-align : middle;
}

#j01LiveSearchResult div {
    text-align: left;
    border-right: #EEEEEE solid 1px;
    border-bottom: #EEEEEE solid 1px;
    border-left: #EEEEEE solid 1px;
	padding: 2px 0px 2px 2px;
}

#j01LiveSearchResult a {
    color: #666666;
}

#j01LiveSearchResult .even {
    background: #F5F5F5;
}

#j01LiveSearchResult .odd {
	background-color: #FFFFFF;
}

#j01LiveSearchResult .hover {
	background-color: #E4E4DA;
}

#j01LiveSearchResult div.close {
	height: 16px;
    text-align: right;
    background: url(./img/buttonBG.gif) repeat-x left top;
}

#j01LiveSearchPager {
    height: 22px;
    line-height: 22px;
    text-align: left;
    vertical-align: middle;
    background: url(./img/buttonBG.gif) repeat-x left top;
    border-right: #EEEEEE solid 1px;
    border-bottom: #EEEEEE solid 1px;
    border-left: #EEEEEE solid 1px;
}

#j01LiveSearchPager img {
    vertical-align: middle;
    border: 0px;
}
